[2016-06-27 18:45] mtrmac opened #13 "Add a test against skopeo?"
So here is a completely horrible idea: As part of tests, perhaps in `Makefile` and definitely in Travis, checkout `skopeo`, replace the vendored copy with current working directory, and test that skopeo runs and its tests pass.

As I said, completely horrible. But perhaps worth it, at least until most of the transports in this repo grow some real tests.  Merging https://github.com/projectatomic/sk

[2016-06-28 08:16] runcom commented on #13
seems fine to me as a temporary workaround until we figure the whole stuff out

[2016-06-28 08:17] runcom opened #18 "Appc Source and Destination"

[2016-06-28 08:18] runcom commented on #18
/cc @sgotti

[2016-06-28 16:02] runcom commented on #18
/cc @philips also

[2016-06-28 21:12] sgotti commented on #18
@runcom @philips my 2*10-2 €

* appc Destination: I'll convert the docker/oci config to an appc manifest and squash the layers in the appc rootfs (since given the ref vs appc name/labels it'll become a mess to map a layer to an aci). Basically what docker2aci does (I think we can borrow many things from it).

There're some special annotations added by docker2aci (https://github.com/appc/docker2aci

[2016-06-28 21:16] runcom commented on #18
I'm +1 on everything you said for appc Image destination - all the doubts around rkt specific pieces will be confined uner `appc/` pkg so I don't mind having them if they're actually needed

I think we can start with the destination as it's pretty straightforward to do (I hope so) and re-iterate on the source

[2016-06-29 14:07] mtrmac commented on #18
(I know about zero about appc, but :) )

The above suggests that both source and destination always do some kind of conversion. I hope that would work fine, and it would of course be very useful to be able to convert between formats; eventually we should also consider some kind of native support so that `skopeo copy` can do an appc→appc copy with no conversion (and in particular, without breaking

[2016-06-29 21:02] sgotti commented on #18
@mtrmac good point!

@runcom @mtrmac before opening a new issue what about the idea of implementing a source->converter->output pipeline (a la gstreaner)

sources will register their output format(s)
outputs(destinations) will register their accepted input formats
converters will register their accepted input output formats

The lib will find a converter for the requested source and output and sta

[2016-06-29 21:06] mtrmac commented on #18
@sgotti Yes, I think we are moving in that direction (already #23 is doing some conversion).  I would hate for this to end up a graph and Dijkstra path search unless we end up really needing it, but a source → single converter → output seems inevitable, as does turning most of skopeo’s `copy.go` into a library.

[2016-06-29 21:07] runcom commented on #18
And FYI I'll soon want to add a docker tar image destination to output docker loadable tars

[2016-06-29 21:08] runcom commented on #18
So oci2appcs or whatever makes sense for me

[2016-06-29 21:36] runcom commented on #18
:smile:

[2016-06-30 09:12] runcom opened #29 "integration tests? or better API for mocks"
we need something to exercise the various source and destination somehow (except directory) here in containers/image

[2016-06-30 09:27] runcom commented on #29
maybe not, we need better mocks

[2016-06-30 11:59] runcom opened #31 "enhance help messages"
was contacted today because people could not figure out the right syntax for `skopeo inspect`  and they were trying `skopeo inspect fedora`.

would be nice to provide better help messages in *all* commands (not just `inspect`) and tell ppl about our image *prefixies* e.g. `docker://`, `atomic:`, `oci:` etc

/cc @TomasTomecek @mtrmac

[2016-06-30 14:15] TomasTomecek commented on #31
https://github.com/projectatomic/skopeo/pull/134

[2016-06-30 14:23] runcom commented on #31
right, I mistaken repository lol

[2016-06-30 14:23] #31 closed

[2016-07-01 00:48] mtrmac commented on #29
Can we get away with having integration tests against real/live servers only in `skopeo`, per #27 ? Otherwise we are at high risk of writing and updating exactly the same tests twice, once using the CLI and once using the API.

Local server-less unit tests would still be useful, of course. An 80%, mock-less, solution, would be to split the send HTTP request+parse response methods into

 - “prepare

[2016-07-04 09:03] #13 closed

[2016-07-05 14:59] runcom opened #36 "[RFC] Return Config from a manifest (as an Image property)"
We have `genericManifest` which has `Config()` in which contains, among other things needed for `ImageInspectInfo`, some runtime information about an image. An example of where this is needed is `appc/docker2aci` project.

Question: should we be able to provide such information to users?
Most of the times this is what users expect:

[code]

The other alternative is of course to not expose it and h

[2016-07-07 16:24] mtrmac commented on #36
I don’t know; my basic question is “to what extent is the “config” a stable concept likely to exist in the future, and to what extent is this likely to be true for individual fields in that config?",  and I mostly have no idea.

Implementation-wise, IIRC there already are Docker→runc config conversion tools, and it would be Nice™ to maintain that code once instead of having separate reimplementati

[2016-07-08 08:33] runcom commented on #36
I understand your concern, however I'm sure it's a stable concept, used in the early days as well and apart from moving from inline config in a manifest to blob nothing has changed substantially.

Docker -> runc config conversion is sadly just done from *containers* (as opposed to images). The tool you're probably talking about is [riddler](https://github.com/jfrazelle/riddler) which can output a

[2016-07-08 08:46] runcom commented on #36
For reference:

- config from an image (busybox:latest): https://paste.fedoraproject.org/388878/
- runc default config.json from "runc spec": https://paste.fedoraproject.org/388880/

I believe something from the image's config can go into runc config.json (that was my discussion above somehow)

[2016-07-08 17:33] mrunalp commented on #36
@runcom We'll have to check what are the minimum fields in the podspec. After consuming those, if there are any defaults in image's config, they could be set in the runtime config.json.

[2016-07-08 17:35] mtrmac commented on #36
Nah. I understand that something somewhere needs to do this in order to get a runnable container, but I have no idea whether containers/image is the right place for that integration. The graph driver library, or a common caller of both, could just as easily be the right place for all I know.

ocid <- manage oci runc containers
---> call into containers/image to download images (let's say blob+mani

[2016-07-08 17:42] runcom commented on #36
that's what I meant, yes!

[2016-07-08 17:50] mrunalp commented on #36
Yeah, common caller could be ocid for tying all this together.

[2016-07-14 15:44] runcom opened #38 "[RFE] Source/Destination for shared storage"
Cross posting from https://github.com/projectatomic/skopeo/issues/110

From kubernetes/kubernetes#26788 (comment)

Would be nice to support such a thing in skopeo itself as part of our types

[2016-07-15 08:53] runcom commented on #36
@mrunalp went through the k8s API and it seems that the following fields are necessary when running containers and the admin does not specify them at runtime:
[code]
The only exception is `User` - I opened https://github.com/mrunalp/ocid/issues/5

[2016-07-19 16:33] runcom commented on #36
I'm not sure anymore we need this - let me explain:

When the CRI is going to use those fields the image is downloaded and stored on the node - I don't see how we should use this library to parse the config blob and return the struct above.

IOW, if an image is already stored on disk _somehow_ (by tools like graphtool or such) - who should provide those info to the Container Runtime Interface?

[2016-07-19 17:23] mrunalp commented on #36
@runcom I see your point.

Does it make sense to add this to the `ImageService`. This then implies that kubelet will make the call the then populate the right fields in CreateSandbox/CreateContainer requests.

[2016-07-19 18:06] mrunalp commented on #36
@runcom Another option would be to have enough information in the ImageSpec to be able to query that information. No right answer here; decision needs to be made on who handles this kubelet or the runtime.

[2016-07-19 18:07] runcom commented on #36
@mrunalp right, I though about having an `ImageConfig` in `ImageService` but I don't really like querying (remotely) an image just to grab those configs.

[2016-07-19 18:11] runcom commented on #36
@mrunalp it's also pretty clear from this https://github.com/kubernetes/kubernetes/pull/17048/files#diff-822f0e081c10d8b83d7c2ad1391d55f7R66 that the image is already stored on disk at the point we create the container (and need this config info)

[2016-07-19 18:12] mrunalp commented on #36
@runcom Yeah, that makes it easier for us. We can write a client that implements the same flow for testing ocid.

[2016-07-28 18:32] mtrmac opened #45 "http/https detection for Docker clients must be configurable, should be opt-in"
… otherwise a MITM can prevent use of TLS by blocking connections, and then on unauthenticated HTTP they can send a custom `WWW-Authenticate: Bearer realm=$attacked-controlled-URL`"` header which will cause the user name and password to be sent to the attacker-controlled location.

[2016-07-28 18:35] mtrmac commented on #45
… and given that infrastructure, `getBearerToken` should probably insist on HTTPS (per RFC 6749 3.2), even if `realm` uses a `http://` URL, unless the registry is allowed to be insecure.

[2016-07-28 18:37] runcom commented on #45
Great point, not sure upstream does this already, might be good to propose this also if it's something they need to look into

[2016-07-28 18:53] mtrmac commented on #45
At least the first part does happen (`--insecure-registry`). The second part AFAICS does not, but then it is unnecessary assuming a well-intentioned and well-managed registry.

[2016-08-17 21:01] mtrmac opened #51 "Implement pushing to `docker:` with tags"
Right now we silently replace it with a digest, which is rather useless.  This will need extra logic for v2s1 to either reject pushes with a different tag, or to regenerate the manifest.

[2016-08-18 14:14] aweiteka opened #53 "New transport type: localdocker://"
Use case: I have built a local docker image. I need a way to reference this image to push it to a registry and sign it. We need to be able to reference local docker images to copy them to a registry and generate a manifest to sign without changing the name of the image.

*localdocker://* is just a suggestion. Don't care what we call it.

[2016-08-18 14:15] aweiteka commented on #53
cc @baude

[2016-08-19 13:33] aweiteka commented on #53
Better naming might be "docker-daemon:"

[2016-08-19 20:43] philips commented on #53
Isn't it techinically the docker engine? Or even docker engine API?

On Fri, Aug 19, 2016 at 9:33 AM Aaron Weitekamp <notifications@github.com>
wrote:

[2016-08-22 09:01] glestaris opened #54 "Using docker/distribution instead of docker/docker?"
Hello,

containers/image imports `docker/docker` for the `reference` package which is used for types of for reference parsing [1]. `docker/docker` is a quite big repository and would prefer to avoid having it as a dependency in GrootFS [2], which consumes `containers/image`.

Would it be possible to use `docker/distribution` instead for the reference types/parsing? Additionally, the Docker transpo

[2016-08-22 09:03] glestaris commented on #54
If you think with can replace `docker/docker` with `docker/distribution` dependency, we would be happy to make PRs that implement the required changes. WDYT?

[2016-08-22 09:21] runcom commented on #54
just a quick reply w/o actually looking at the whole code I think this is reasonable if it can be done, ping @mtrmac

[2016-08-22 13:22] mtrmac commented on #54
Hello,

Not trivially; we use the canonicalization facilities from `docker/distribution` (`FullName` and the effect of `normalize`).

Of course this could be copy&pasted into this repo, at the risk of divergence.
But we explicitly went the other way in #32 , though there is little discussion about rationale in there.

That would probably be possible, I have no idea about the cost/benefit. To the e

[2016-08-22 13:26] runcom commented on #54
as you perfectly explained - even if docker is a big git repo, it is moving fast and we could lose bits (which could be bug fixes). So the rationale behind that PR was to avoid moving away from docker as it's not an issue to depend on them (unless of course you take into account the size of that repo)

[2016-08-23 07:27] glestaris commented on #54
Thanks @mtrmac and @runcom. Copying and pasting small chunks of code is usually better than a dependency, but I understand that in this case `docker/docker/reference` provides us with canonicalization behaviour that we don't want to regress against.

On using `docker/distribution` for the interaction with the registry, I am happy to know that you would consider a PR. The cost is certainly high and

[2016-08-23 07:27] #54 closed

[2016-08-24 09:08] glestaris opened #55 "[RFC] Add GetManifestDigest that uses HTTP HEAD to check if manifest is cached"
Hello,

In GrootFS [1], we are caching the blobs and image config when downloading remote (Docker) images. The only thing we can't cache at the moment is the manifest, since `ImageSource.GetManifest` is fetching the whole manifest regardless of whether or not is already cached.

The Docker registry v2 API supports `Docker-Content-Digest` header [2], which contains the manifest digest. We would lik

[2016-08-24 09:12] runcom commented on #55
not sure, that header is there for security and content verification - not to hack on it for caching, shouldn't you take care of the whole index/cache system instead of having the library doing this? (I'm not sure how you would do this, just thinking out loud)
@mtrmac wdyt

[2016-08-24 09:25] glestaris commented on #55
`docker/distribution` seems to use in in their tag service [1] to get the descriptor.

That's an interesting question. In GrootFS we consume `containers/image` for the Docker registry interaction and implement the cache (storing the blobs in the filesystem) ourselves. We would be very happy to PR some of the caching behaviour (and thus share the maintenance cost) if you think it's worthy. But that

[2016-08-24 13:10] mtrmac commented on #55
It is really for caching and discovering random corruption during transfers; nothing prevents the registry from lying in this header, or from returning the expected header value but a non-matching manifest.

I am more concerned about https://github.com/docker/docker/blob/master/distribution/pull_v2.go#L341 :

though I suppose treating this as an optimization which might fail would work.

More impo

[2016-08-24 13:29] glestaris commented on #55
// against the manifests endpoint, which are not supported by
// all registry versions.

Interesting.

Correct, we do not expect a huge improvement there. We will probably try and investigate how much this would give us before making a PR...

[2016-08-24 13:30] runcom commented on #55
but it isn't documented as such https://github.com/docker/distribution/blob/master/docs/spec/api.md#digest-header - I'm not sure either though

[2016-08-24 14:13] mtrmac commented on #55
That says

[2016-09-01 07:40] runcom opened #66 "OCI moved to blobs/{algo}/{hash}"
Creating as a TODO (for myself mainly)

We need to fix OCI destination as per https://github.com/opencontainers/image-spec/issues/208

I'm assigning this to myself and fix it.

[2016-09-01 15:20] #66 closed

[2016-09-05 18:17] mtrmac opened #72 "Figure out docker-daemon: tagging canonicalization rules"
Right now docker-daemon: destination just passes the input string as a tag in the stream.  Docker seems to be doing some canonicalization, but it is unclear what exactly the rules are.
- `docker pull busybox` gets the image tagged as `docker.io/busybox` (per `docker inspect`)
- `docker-daemon:busybox` gets it tagged as `docker:busybox`
- `docker-daemon:docker.io/library/busybox` gets it tagged as

[2016-09-06 15:31] runcom commented on #72
Note that AFAICT our projectatomic/docker and docker/docker behave differently wrt how images are tagged (or retrieved, need to look that up)

[2016-09-06 15:39] mtrmac commented on #72
@runcom What do you mean exactly? Examples?

[2016-09-06 15:49] runcom commented on #72
This, for instance, is valid for projectatomic/docker but not docker/docker - upstream does have that reference as just "busybox" (per docker inspect)

These last two, same as above, in docker/docker you just get "busybox:latest" in RepoTags

[2016-09-06 15:52] mtrmac commented on #72
Oh. Thanks for pointing this out, I would have never thought to look there. Does that mean that we should be vendoring in `projectatomic/docker/reference` instead of `docker/docker/reference`?  (Should be doable but it is not _completely_ trivial, we would need to check whether that affects reference matching in signatures.)

[2016-09-06 15:55] mtrmac commented on #72
Alternatively,

This suggests that the different canonicalization projectatomic/docker does might not be handled consistently, i.e. the `docker pull` path was changed but not the `docker load` path.  (I wish this to be true because if it were, `skopeo` and `atomic` wouldn’t need to worry about reference canonicalization at all and we would change the `docker load` canonicalization.)

[2016-09-06 15:56] runcom commented on #72
I feat it's like you said, and docker load doesn't get the canonicalization - I'm trying right now though.

[2016-09-06 15:59] runcom commented on #72
With projectatomic/docker, after switching from docker/docker with busybox already in storage:
[code]

[2016-09-06 18:14] runcom opened #75 "Rename ociRef.NewImageDestination to ociRef.NewLayoutDestination"
Under `package oci` there will be also an OCI image destination which will support fetching images (like Docker) from registries (one day...)

It makes sense to me to rename the functions now so we don't really break so many people (and since a lot is changing these days...)

@mtrmac WDYT?

[2016-09-06 18:18] mtrmac commented on #75
Sure, let’s do it now. Though `OCIImageLayoutDestination` is a bit of a mouthful; would just `OCIImageDestination` work? Or `OCIDirectoryDestination` to be specific that this is unpacked, not a single file, nor an installed image.

[2016-09-06 18:22] runcom commented on #75
`OCILayoutDestination`, sounds good?

[2016-09-06 18:25] mtrmac commented on #75
Works for me.

[2016-09-07 08:35] runcom commented on #75
so there is `oci.NewReference` which then can do `ociRef.NewImageDestination` - I'll do `ociRef.NewLayoutDestination`

[2016-09-07 12:58] mtrmac commented on #75
That would not conform to `ImageReference`, and anyway an `ImageReference` to a local directory and an `ImageReference` to a remote registry are different things with different concepts and semantics.

It is perfectly fine to have them in the same package, but they should be separate `ImageTransport`s with separate `ImageReference` implementations.

[2016-09-07 13:00] mtrmac commented on #75
i.e. `oci{Layout,Registry}{Transport,Reference}' types.  The references can be of course created using  helper functions (i.e. without going through the `Transport`s), `oci.NewLayoutReference` and `oci.NewRegistryReference`.

[2016-09-07 13:00] runcom commented on #75
:+1:

[2016-09-07 13:17] runcom commented on #75
@mtrmac re-thought about this, making a PR

[2016-09-07 16:57] #75 closed

[2016-09-09 09:24] runcom opened #82 "`Close()` should be `Close() error`"
Anything against having `{Image,ImageSource,ImageDestination}.Close()` implement `io.Closer` https://golang.org/pkg/io/#Closer? (which basically is adding an error return). I think we would have this for https://github.com/containers/image/pull/63 also.

ref: https://github.com/containers/image/blob/master/types/types.go#L98

@mtrmac wdyt?

[2016-09-09 16:28] mtrmac commented on #82
I had an error return in there, but then removed it because it seemed to be a Potemkin village in most users.

Everyone is all too eager to do
[code]
ignoring the error, instead of writing something like
[code]
to propagate the error.

So, would there be a practical benefit? Are there any interfaces which would benefit from implementing `io.Closer`  (without `Reader`/`Writer`)? There may well be,

[2016-09-12 12:18] runcom commented on #82
even if people tends to do that no-err-check-defer-close it doesn't meant we should code to prevent that. Types and returns are documented and it's up to who implements this library to check errors if they think so (not questioning the rightness to not do that).

`CloseWithError(err error)` it's a different pattern in Go - it means Close the underlying Writer/Closer assigning the given error _some

[2016-09-12 14:08] mtrmac commented on #82
Yeah, you know how I am with naming :) Just wanted to demonstrate the context.

ACK, let’s change that whenever someone has copious free time.

[2016-09-12 14:13] runcom commented on #82
yeah, wasn't mean as stuff to be done soon

[2016-09-12 14:59] runcom opened #85 "move docker/* under docker/registry/*"
If we end up having another transport named `docker-daemon:` (or whatever the naming will be) - we would move the implementation under `docker/*` to be `docker/registry/*` and have `github.com/containers/image/docker/registry` package (and `docker/daemon` ofc).

[2016-09-13 15:56] mtrmac opened #86 "dockerImageDestination.SupportedManifestMIMETypes may be incorrect"
`dockerImageDestination.SupportedManifestMIMETypes` returns a hard-coded value; if the destination registry does not in fact support schema 2, we would still attempt to upload this.

This incorrect information will break any manifest conversion we might attempt.

[2016-09-13 16:00] runcom commented on #86
We should probably test if V2 is really supported, otherwise fallback to push v2s1?

[2016-09-13 16:16] mtrmac commented on #86
Yes. It would be very convenient if we could determine v2 support without having to create and try to push v2, I am not sure whether that is possible.

[2016-09-13 16:20] runcom commented on #86
@mtrmac it should be easy https://github.com/docker/docker/blob/master/distribution/push_v2.go#L159-L193

[2016-09-13 16:27] mtrmac commented on #86
Yeah, that is the “convert and try” method which I’d like to avoid :)

[2016-09-13 16:29] runcom commented on #86
can it work with this "convert and try" though?

[2016-09-13 16:37] mtrmac commented on #86
Sure, it is software, we can build anything we can specify. But with the increasing number of formats (schema1, schema2, OCI, perhaps even native Docker tar exposed to `copy.go`), the conversion engine will need to do a series of false starts instead of just statically detecting the optimal destination format and doing a single conversion. Doable but ugly.

[2016-09-13 17:22] #45 closed

[2016-09-16 17:19] aweiteka opened #91 "image/openshift using incorrect .kube/config context"
When ~/.kube/config has multiple contexts configured sometimes the incorrect context is used. See debug output: https://paste.fedoraproject.org/429048/47404610/

Version: issue reproduced using skopeo version 0.1.14-dev commit: 02b9f8b479fee04c6aa0c5038ec07612853b5e67

cc @mtrmac

[2016-09-16 18:16] #91 closed

[2016-09-20 14:55] runcom opened #99 "Match a signature for any tag when pulling/coping by digest"
The scenario is the following (requires interacting with Docker):
- docker pull `runcom/busybox:signed`
- the docker CLI checks that a valid signature exists for `runcom/busybox:signed` via `containers/image`
- `containers/image` provides the trusted digest for `runcom/busybox:signed`
- the docker CLI now tries to `docker pull runcom/busybox@sha256:%HEX%`
- since there's the `trust-plugin` on the

[2016-09-21 07:13] runcom commented on #99
Excerpt from an IRC conversation so we don't forget:
[code]

[2016-09-21 12:20] rhatdan commented on #99
The loosest match would be the best for default.  Users will expect the TAG==Digest behaviour. Which I guess is matchSignatureForAnyTag

[2016-09-21 13:29] runcom commented on #99
This is a blocking issue for the `trust-plugin` (and the docker branch with `--trust=gpg` for that matter) in case people the plugin tells the user he needs to pull by a trusted digest and then pulling by digest results in a not accepted signature for that digest (because the signature is only for the tag).
The only way right now to relax this is to use:
[code]
but as noted by @mtrmac - this is an

[2016-09-21 13:39] runcom commented on #99
agree here

[2016-09-26 09:50] runcom opened #104 "[performance] attempt to cross repo mount"
as per https://docs.docker.com/registry/spec/api/#cross-repository-blob-mount

[2016-09-26 10:00] runcom opened #105 "[performance] parallel layers upload/download in copy"
EDIT: This can be probably done in skopeo

[2016-09-26 15:59] mtrmac commented on #105
How, if skopeo only passes source and destination references to `copy.Image`?

[2016-09-26 16:03] runcom commented on #105
@mtrmac alright, then this should be implemented at copy level right

[2016-09-29 08:20] runcom commented on #99
I'm working on this

[2016-09-30 08:38] runcom opened #111 "docker credentials retrieval should check external stores"

[2016-10-01 10:14] runcom opened #114 "Manifest lists break signatures verification?"
Probably blocking projectatomic/docker#200 but not really since we never thought well about this scenario.
Right now in docker/docker you can pull an image which its manifest isn't a single manifest (with a digest) but it's a list of manifests.

@mtrmac is this a blocking issue? should we trust all sub-manifests in a manifest list if the manifest list it's signed?

For manifest list (and following

[2016-10-03 14:27] mtrmac commented on #114
We’ve been somewhat discussing these things before, e.g. https://github.com/containers/image/pull/25 .

I’m not sure what the best way to handle signatures for manifest lists is ATM. From a security POV, a signed manifest list implicitly authenticates the signed manifests, so, yes, a manifest signature could be accepted for the manifests listed in there.

OTOH that semantics may get messy: 1) down

[2016-10-03 15:11] runcom commented on #114
Right...

is #115 in line with this though?

[2016-10-03 16:39] mtrmac commented on #114
#115 is, AFAICS, OK WRT signing security.

[2016-10-10 15:21] runcom commented on #99
@mtrmac this isn't working anymore (but used to!):

[code]

[2016-10-10 15:21] runcom commented on #99
@mtrmac has something changed which makes the above failing?

[2016-10-10 15:27] mtrmac commented on #99
`docker.io/runcom/busybox2` vs. `runcom/busybox2:latest` ? Instrument `signature/policy_reference_match.go` to see how they are parsed, I guess.

[2016-10-10 15:28] mtrmac commented on #99
(I can’t remember anything changing in this area FWIW.)

[2016-10-10 15:28] runcom commented on #99
sorry, the point was that the above used to work - runcom/busybox2:latest get translated to docker.io/runcom/busybox2:latest and the policy was working correctly 2 weeks ago.....

[2016-10-10 15:29] mtrmac commented on #99
Could this be because, within docker/docker + RH patches, docker/docker/reference is patched with a different semantics? Just guessing.

[2016-10-10 15:30] runcom commented on #99
it could - but  projectatomic/docker#200 was working fine with containers/image 2 weeks ago so something happened in between :(

[2016-10-10 15:32] mtrmac commented on #99
No idea. Can you perhaps bisect that? (Note that containers/image does not vendor anything, so docker/docker/reference comes from whatever your build environment is.)

[2016-10-10 16:26] runcom commented on #99
@mtrmac you were right, I placed some logs around and:
[code]
So, we're signing with skopeo with the upstream `docker/docker/reference` where instead in projectatomic/docker#200 we try to validate using projecatomic `docker/docker/reference` which is always putting the hostname in the reference...

[2016-10-10 16:59] mtrmac commented on #99
None of that _should_ be a dealbreaker; upstream docker/docker/reference, in `WithName`, calls `normalize`, and _that_ ensures that the semantically equivalent inputs also have string-equal `.Name()` return values.

Apparently the RH patch somehow breaks or removes the normalization logic? (Note that both removing it, and using a different one than upstream, would be very bad for signatures.)

Not

[2016-10-10 17:13] runcom commented on #99
@mtrmac yeah, figured that. RH code calls the check signatures with a fully qualified image reference, it should be easy to hack something into docker/docker to fix this I guess.

[2016-10-10 17:15] runcom commented on #99
@mtrmac wdyt?

[2016-10-10 17:20] mtrmac commented on #99
We didn’t have that, then we had that, now we don’t have that again.

If re-adding that again is the simplest solution for signatures, sure, why not.

I am, a bit, worried, though, that this lack of normalization will manifest elsewhere in docker as well. (See e.g. the “`docker pull` does not update some tags” issue discovered and discussed recently in email.)

[2016-10-10 17:22] runcom commented on #99
I'm worried as well about this - that patch is almost 2 years old at least and apart from that bug discussed in the email I didn't spot anything significant till now. OTOH I'm not confident enough to change that code for the upcoming release :( but we definitely need an audit of that code wrt normalization.

[2016-10-10 18:10] runcom commented on #99
@mtrmac git submodule? :laughing: (I'm joking)

[2016-10-11 16:41] runcom opened #125 "pluggable transports?"
Right now if you import containers/image in docker you'll get tons of dependencies because of the openshift transport where instead docker only needs the docker transport.
There could be a way to setup transports by the caller instead of hardcoding them into https://github.com/containers/image/blob/master/transports/transports.go#L23

@mtrmac wdyt?

[2016-10-11 17:01] mtrmac commented on #125
`transports.ImageName` would be trivial to separate, but the `transport.KnownTransports[key]` reference in `signature/policy_config.go` is not so easy (we _could_ get rid of it in principle, at the cost of noticeably worse diagnostics; not an easy decision). And the Docker code uses the `signature` package…

We could perhaps split it to have `KnownTransports` in one subpackage, always available, b

[2016-10-11 17:05] runcom commented on #125
Something like `transports.Register` should do the job I guess.

[2016-10-11 17:06] runcom commented on #125
And each transport registers itself when imported? This seems cleaner.

[2016-10-11 17:09] mtrmac commented on #125
That’s elegant in a way, (and non-obvious in a way), but there should still be a single thing to import for decoupled consumers like `skopeo`.

When we add a new transport to `containers/image`, not a single line should need to be updated in `skopeo` (beyond revendoring).

That can of course be done by having each transport register itself, and then having a subpackage which just includes all of t

[2016-10-11 17:20] runcom commented on #125
There's no need to have another package doing that (ofc you need to change skopeo to add a new transport and I'm fine with that). It's go idiomatic to have a package imported with _ (the underscore) to just call its init function (to register the transport in this case), another package to register everything isn't good to me instead since we need to leave to users the option and adding a single l

[2016-10-11 17:24] mtrmac commented on #125
ACK.

I’d rather not. It is fine to give callers flexibility, but there should be a default and easy way to consume everything without having to keep up and risking divergence.  We don’t want to end up with 3 different CLIs which all accept `docker://busybox` but only two accept `dir:` and only one accepts `oci:`.  … I guess it  makes sense to me to tie this to `transports.ParseImageName`; callers

[2016-10-11 17:25] mtrmac commented on #125
(Of course anyone can still explicitly opt out, or, well, import everything and then edit `KnownTransports` to drop something, or just do string filtering on input, or… But the easy way to use this package should consume everything I think.)

[2016-10-11 17:35] runcom commented on #125
Isn't this the whole point of this being a library and that we have subpackages? Docker being the example here were it only needs the docker transport.
Maybe we need to refactor the library to be more flexible in this scenario?

[2016-10-11 17:45] mtrmac commented on #125
I was thinking something like this

- `containers/image/registeredtransports` contains `KnownTransports`, which starts empty
- `containers/image/docker` usable independently, registers itself into `registeredtransports`
- `containers/image/openshift` usable independently, registers itself into `registeredtransports`
- `containers/image/image` usable with any `ImageSource`
- `containers/image/signa

[2016-10-11 22:25] runcom commented on #125
marking this as enhancement - I plan to work on this after projectatomic/docker#200 since this is just nice to have when I'll open that same PR upstream in docker/docker

[2016-10-11 22:26] runcom commented on #125
@mtrmac will look further at what you suggested tomorrow

[2016-10-13 09:45] runcom opened #128 "use docker/distribution/digest"
as rightly pointed our here https://github.com/docker/docker/pull/26369#issuecomment-253321368 it would be nice to use `docker/distribution/digest` type and functions instead of just `string`. Anyone? :angel:

[2016-10-19 20:55] stevvooe commented on #128
@runcom Let me know if it would be easier to break this out.

[2016-10-19 21:01] runcom commented on #128
Sure, we can start transport by transport, starting with the Docker transport under "docker" would be nice

[2016-10-20 19:29] aweiteka opened #133 "Justification for registries.d complexity"
I'm confused why the [sigstore configuration](../blob/master/docs/registries.d.md) is not part of [policy.json data structure](..//blob/master/docs/policy.json.md). These things naturally go together. Our registries.d scheme seems to unnecessarily complicate matters.

Example:

[code]

[2016-10-27 15:55] mtrmac opened #138 "Improve `openshift_transport.go` error messages"
In

[code]

and

[code]

we know fairly precisely what we want and what we aren’t getting, so we should tell the users what exactly they need to do to have the input accepted, instead of vaguely rejecting the input as “invalid”.

[2016-10-28 04:31] cyphar commented on #53
In addition, something that would be incredibly useful would be having `docker load`-style images be supported. Specifically it would really help with our plans for having KIWI support OCI image building (to then be able to convert the OCI images to Docker images without ever needing a Docker daemon running on our build system).

[2016-10-28 04:34] cyphar opened #140 "Support Docker saved image format"
Namely, the `docker load`-friendly format. This would make it possible to use `skopeo` to have a full OCI build system that will then pipe directly into a Docker image without needing a Docker registry or Docker daemon on the build system. In particular this would be very handy for implementing the Open Build Service support that we're planning at SUSE (we can't easily run a Docker registry as par

[2016-10-28 11:52] rhatdan commented on #140
Yes we are interested in something similar.  I would love to see ansible-container move to a docker daemon free build environment.  The only question I have is whether or not using runc to do the heavy lifting of image building in a more secure container environment is worth it.

[2016-10-28 12:56] aweiteka commented on #53
Resolved by #135
If we want to discuss further we should probably open another issue as a separate change request.

[2016-10-28 12:56] #53 closed

[2016-10-28 15:34] cyphar commented on #140
@rhatdan

That's the plan for KIWI integration. We also might end up using rootless containers inside OBS to make it possible to do without any root privileges -- but we'll see how that goes. Currently I'm still trying to get all of the image components into the right places. I will probably write a blog post about all of the integration once it's more done (and you'll see my PRs in the meantime).

[2016-10-28 15:54] runcom opened #141 "OCI image source"
Following a chat between @rhatdan and @alexlarsson in #atomic on Freenode:

[code]

What you need is the ability to have an OCI source, probably remote? well, since OCI hasn't "distribution" in scope that's simply not possible right now (there's work on https://github.com/docker/distribution/pull/2021)

[2016-10-31 12:46] alexlarsson commented on #141
I was just experimenting with skopeo, but the command above is copying from one OCI directory (which skopeo created) to another directory. Why should this not work?

[2016-10-31 13:12] runcom commented on #141
Because we didn't implement that yet. Can't you just cp the directory? Do you have any hard requirement to do that here?

[2016-10-31 13:26] alexlarsson commented on #141
I was going to use skopeo to test OCI support for flatpak use, and this was just the minimal test i could come up with. What I really wanted was to take an OCI directory i've created and round-trip it to a docker registry and back to see how well that worked.

[2016-10-31 18:35] mtrmac commented on #133
Basically because transports and their configuration, and signature verification are conceptually quite separate things, and because `sigstore` is a docker/distribution-specific idea which does not fit the generic signature policy.

In more detail:

`policy.json` does not care where _anything_ about the images is really stored, neither the manifests nor the signatures, or what is necessary to acce

[2016-10-31 19:01] mtrmac opened #142 "Use `context` instead of `golang.org/x/net/context`"
Now that we have (AFAICT) abandoned Go 1.6 and require Go 1.7, we probably can use the stdlib-included one.

[2016-10-31 19:03] runcom commented on #142
We will, though, F24 still has go 1.6.3

[2016-10-31 19:05] runcom commented on #142
And we're still using engine-api, so, as soon as Docker 1.13 goes GA we'll abandon engine-api and golang 1.6.z will work again (the reason behind 1.6 not compiling was that engine-api is broken wrt to multiple golang and did break 1.6)

[2016-10-31 19:07] mtrmac commented on #142
Thanks, never mind then.

[2016-10-31 19:07] #142 closed

[2016-10-31 19:14] mtrmac commented on #53
The conversions from/to that format (or at least the latest version) already exist in #135, so this would be a matter of factoring the conversion code out and adding a transport which simply uses files instead of docker/engine-api/client. But, yeah, a separate issue (and PRs welcome).

[2016-10-31 19:15] mtrmac commented on #53
Sorry, I see you have already filed #140.

[2016-10-31 19:16] mtrmac commented on #140
The conversions from/to that format (or at least the latest version) already exist in #135, so this would be a matter of factoring the conversion code out and adding a transport which simply uses files instead of docker/engine-api/client.

[2016-10-31 19:17] mtrmac commented on #141
Yeah, it makes sense that containers/image should support this. I don’t personally know about priorities/timing though.

[2016-10-31 19:21] runcom commented on #141
@mtrmac do you mean you're ok having an OCI image source based on directories? (and maybe later support remote images for OCI as well).
Implementing this for directories should be trivial afaict and I have some spare cycles if this is needed.

[2016-10-31 19:28] mtrmac commented on #141
Well, to be precise: I haven’t paid enough attention to OCI to say how much (or whether) the OCI directory transport is useful. But it seems to me that _if_ it is useful, both reading and writing is probably useful.

(I’d also like OCI to switch to the manifest support in c/i/image instead of hiding the conversions if possible; the write path was an useful stopgap but it would be nice not propagat

[2016-10-31 20:11] mtrmac opened #143 "Finish docker-daemon:"
See all the `FIXMEs` in there, and in `transports/transports_test.go`.  And probably add some tests.

[2016-10-31 20:13] mtrmac commented on #143
Also, #72 .

[2016-10-31 20:22] mtrmac opened #144 "Add tests for image/docker_schema1.go"
At least covering the success case for manifest conversion, like docker_schema2_test.go

[2016-10-31 20:46] runcom commented on #141
@mtrmac what do you mean by switch to the manifest support in c/i/image? Link to code?

[2016-10-31 20:51] mtrmac commented on #141
* Copy `image/manifest_schema2.go` to `image/manifest_oci.go`, edit suitably.
 * Implement `types.Image.UpdatedImage(&types.ManifestUpdateOptions{ManifestMIMEType:}` to convert at least between s2 and OCI, both ways, based on the existing `oci_dest.go:createManifest` code; then combine with existing s1<->s2 conversions to support any conversion between all three of s1, s2, OCI.
 * Drop the now red

[2016-11-01 06:53] cyphar commented on #140
Alright, in which case I can work on this during this week or next.

[2016-11-02 03:10] HuKeping opened #146 "Enhance readme"
Hi, does is make sense to add more detail about this project to the README. I want to know more about this project but hardly find a docs to begin with.

First question in my mind, what's the different with the OCI/image-tool?

Sorry I don't want to bother you guys @philips  @runcom  but I find you are the only members of github.com/container.

[2016-11-02 12:27] cyphar commented on #140
#148 is a wip implementation. I still need to refactor everything so it's not just a copy of the old code (which I'm working on now). But it does work. :D

[2016-11-02 12:56] rhatdan commented on #146
@runcom can we still some of the text from skopeo to enhance the README?  The readme is rather lacking.

[2016-11-02 13:08] runcom commented on #146
We could, I'll try to find some spare cycles to do this but if anyone want to contribute please do so

[2016-11-02 13:45] rhatdan commented on #146
@cyphar did some decent write up in https://github.com/kubernetes-incubator/cri-o/issues/175  We could probably grab some of his content.

[2016-11-02 14:39] mtrmac commented on #51
(Nowadays we do push to a tag, but we don’t update the tag in s1 manifests (which is #88 ).  Most modern tools seem not to care about the tag in the s1 manifest, so this is no longer as urgent.)

[2016-11-03 02:29] HuKeping commented on #146
Thanks @rhatdan @runcom , I've got what I want in kubernetes-incubator/cri-o#175 .

If we should still keep this issue open to track the updating of README?

[2016-11-03 06:04] Crazykev commented on #146
+1 for a detailed README

[2016-11-04 02:49] Crazykev commented on #128
Did anyone take over this one ?

[2016-11-04 09:41] hustcat commented on #141
@runcom @mtrmac I want to copy image from OCI layout directories to docker daemon after [docker #26369](https://github.com/docker/docker/pull/26369).
So OCI image source based on directories is very useful. I'd like to implement:)

[2016-11-04 11:56] rhatdan commented on #128
@Crazykev I don't think so.

[2016-11-04 12:00] runcom commented on #128
I have a branch locally, but feel free to take this over if you want @Crazykev

[2016-11-04 15:33] #146 closed

[2016-11-07 03:45] hustcat opened #154 ""RepoTags" in directory transport miessed"
`RepoTags`  in directory transport miessed:

[code]

[2016-11-07 03:47] hustcat commented on #154
Move to [skipeo #245](https://github.com/projectatomic/skopeo/issues/245)

[2016-11-07 03:47] #154 closed

[2016-11-07 04:23] hustcat opened #155 "Implement sync semantic between source and destination image repository"
`copy` semantic in current implementation, all data(include manifest and image layer) in destination will be overwrited by source without to see if it exist.

IMO we should implement `sync` semantic between source and destination image repository, if layer in destination is exist, it won't be downloaded repeatedly. This will be more efficient.

[2016-11-07 15:35] mtrmac commented on #155
`copy` does not insist on overwriting, and in fact the `docker:` and `atomic:` transports do not re-upload existing data: https://github.com/containers/image/blob/master/docker/docker_image_dest.go#L96 .

For manifests, it seems far simpler to just upload them than to do one extra roundtrip to see whether we need to upload them. The data is small, the roundtrip latency should be more noticeable th

[2016-11-08 02:31] hustcat commented on #155
I want to implement incremental download layers of image which in the same repository from Docker hub to local `dir` or `oci` directories.
For example, `busybox:v1` own `layer1`, `busybox:v2` own `layer1` and `layer2`. When I download `busybox:v2`,  only `layer2` should be downloaded if `layer1` exist.

[2016-11-08 04:54] Crazykev commented on #128
@runcom Very glad to help this when getting familiar with this project, thanks @rhatdan

[2016-11-08 08:05] #141 closed

[2016-11-08 14:12] mtrmac commented on #155
That’s not how `dir:` works, it can’t share a directory for multiple images. See more in https://github.com/projectatomic/skopeo/issues/245#issuecomment-259145219 . It might be possible for `oci:`.  But then…

… I can’t see not doing copies when saving _into_ `dir`/`oci` directories helps with an incremental import _from_ them. The limiting factor in there is the `docker-daemon:` write path, which

[2016-11-08 14:17] mtrmac opened #158 "Document individual transports"
Right now they are only mentioned in `policy.json.md` as far as necessary to write the policy. We should document the naming syntax, the protocols, the configuration options etc…

[2016-11-08 14:48] #99 closed

[2016-11-09 01:58] hustcat commented on #155
We can archieve it, make docker daemon incremental load from [OCI layout](https://github.com/opencontainers/image-spec/blob/master/image-layout.md) directories:)

[2016-11-10 17:07] mtrmac opened #161 "Docker TLS configuration outstanding question"
Outstanding comments from #160:

* Why are we using a `ServerDefault` `tls.Config` in a client?
* Why are we applying it only to a single path, not when we override `tls.Config` for our purposes?
* In `newTransport`, the `proxyDialer` setup should happen before we create a `http.Transport`, so that we don’t need to override `tr.Dial` in a created object.

[2016-11-15 09:37] runcom opened #164 "types.BlobInfo is basically a Descriptor"
https://github.com/opencontainers/image-spec/blob/master/specs-go/v1/descriptor.go

@mtrmac wdyt?

[2016-11-15 15:44] mtrmac commented on #164
The philosophical question is to what extent this is a generic concept and to what extent it is an implementation detail of a specific transport mechanism which should not be strongly coupled to the generic interface.

See the URLs discussion in #147, is that a plausibly generic field? When we are not using the field, are we “really” using the `Descriptor`?

Does moving to a `Descriptor` make anyt

[2016-11-15 15:45] mtrmac commented on #164
My bad, #147 does actually add it.

[2016-11-19 03:21] mtrmac commented on #72
(Mostly notes to self:)

Yeah, this is the “Add --add-registry and --block-registry options to docker daemon” patch.

`docker/docker/reference` has the concept of normalization, where semantically equivalent `reference.Named` values are always mapped to the same string; the normalization trims the default `docker.io` hostname and the default `/library` namespace within it (`docker.io/library/busyb

[2016-11-19 03:28] mtrmac commented on #72
@runcom If ^^^ is correct (I will take another look on Monday, actually testing all of that instead of just reading code), it seems to me that it would be best for `projectatomic/docker` to modify `reference.store.AddTag` to convert attempts to tag with an unqualified reference to tagging with a reference qualified with the first hostname on the default registry list.

This should in one place dea

[2016-11-21 20:44] mtrmac commented on #72
Correction: Every reference, qualified or unqualified, is looked up directly as expected. So, the case of `docker tag something $whatever; docker inspect $whatever` always works fine.

[2016-11-21 21:14] mtrmac commented on #72
Overall, the lookup behavior of projectatomic/docker ends up being like this: row indicates how the image was tagged, column what is being looked up.  `d` = `docker.io/`, `l` = `library/`, `busybox` (e.g. `db` means `docker.io/busybox`). ✔️ = tag is found, ❌ = not found.

⬇️Tag \\ Reference➡️  | `b` | `lb` | `db` | `dlb` | Actual tag
---|---|---|---|---|--
`b` | ✔️ | ❌ | ❌ | ❌ | `busybox`
`lb` | ❌

[2016-11-21 21:18] mtrmac commented on #72
… and, equally important, this way `docker load` will update the same tags as `docker pull`.  (OTOH, if the user does have a `busybox` tag, now neither `docker pull` nor `docker load` will update it, and references to `busybox` will use that tag instead of the result of `pull`/`load`.)

[2016-11-21 21:20] runcom commented on #72
@mtrmac could you open a bugzilla so I can fix this in our projectatomic/docker repo with a reproducer and expected behavior?

[2016-11-21 21:39] mtrmac commented on #72
Filed as https://bugzilla.redhat.com/show_bug.cgi?id=1397198 , feel free to reassign to a different version or product. Now searching in bugzilla, it seems there may be other concerns / risks as well, but those are up to projectatomic/docker; as far as `docker-daemon:` is concerned, I think I know what to do.

[2016-11-23 17:04] #143 closed

[2016-11-25 12:49] cyphar opened #168 "OCI to docker:// fails with weird conversion error"
If you try to use skopeo to push an OCI image to a Docker registry you get the weird error (this was done after copying the current `master` of `containers/image` to the `vendor/` of `skopeo):

[code]

So it's failing to convert from itself to itself?

[2016-11-25 12:58] runcom commented on #168
Ping @mtrmac

[2016-11-25 13:04] cyphar commented on #168
I've made a patch in #169. However, I feel like the actual issue is that `oci:` -> `docker:` appears to convert the OCI configuration to a Docker Schema 2, but then it doesn't clear the mimetype so the `docker:` transport tries to convert it _again_.

[2016-11-25 15:20] cyphar opened #171 "OCI manifest is not converted to Docker schema 2"
If you apply #169, you still get an error. This time it's because of the manifest:

[code]

I added "the manifest: [[]]" for my own debugging purposes. It's clear that `copy/copy.go` never does a conversion. And the reason for this is that the `OCI` transport doesn't implement `types.Image` (specifically it doesn't implement `UpdatedImage` which is necessary).

Since the two specs' manifests (Dock

[2016-11-25 15:21] cyphar commented on #171
You get a similar issue for `docker://` but instead of getting a nicer error you get a `status error 400`.

[2016-11-25 17:28] mtrmac commented on #168
WRT the confusing error message,
`FATA[1275] Error creating an updated image manifest: Conversion of image manifest from application/vnd.docker.distribution.manifest.v2+json to application/vnd.docker.distribution.manifest.v2+json is not implemented`

This is “conversion from $hardcoded to $requested”, and $requested is determined by `copy.go:determineManifestConversion”, which knows the true OCI t

[2016-11-25 17:34] mtrmac commented on #171
Yeah; basically copy `docker_schema2.go` to `image/oci.go`, drop the schema1 conversions from the copy, and rename structs/fields. Then add schema2<->OCI conversions through `manifest${type}FromComponents`.

And then, _perhaps_ add schema1<->OCI conversions, probably easiest by going through a schema2 intermediate test. But that’s not strictly necessary right now, we can just fail; and if this get

[2016-11-26 02:14] mtrmac commented on #72
For `containers/image`, this was fixed by #165 . The bugzilla above tracks `projectatomic/docker`.

[2016-11-26 02:14] #72 closed

[2016-11-26 04:47] cyphar commented on #168
This will be handled in #172 (#171).

[2016-11-26 04:47] #168 closed

[2016-12-02 08:19] cyphar opened #177 "docker.tarfile: support multiple images in the same archive"
From a source perspective, this would be implemented as selecting what `RepoTag` to extract layers from. And from a destination perspective, it would be implemented by changing what the resultant `RepoTag`s already present at a destination are.

Essentially all of this would be controlled by choosing a full reference when creating references that use `docker.tarfile`.

[2016-12-02 09:16] cyphar opened #178 "docker-daemon -> OCI doesn't gzip layers"
If you do something like:

[code]

Which is wrong.

[2016-12-02 10:16] runcom commented on #178
Should we have a gzip routine in OCI dest which detect if a layer is not gzip compressed and impress it? Right now in the docker save oci images PR upstream I compress the layer prior to being tarred up, so, it makes sense we would have  something in the OCI destination to automatically do this. @mtrmac wdyt?

[2016-12-02 10:17] runcom commented on #178
In the upstream docker PR I wanted to say: I compress the layers prior to being passed to `PutBlob` (sorry I'm on a mobile phone)

[2016-12-02 10:56] jonboulle commented on #178
Driveby - I really think we should just add the uncompressed types to the
OCI spec (there are a couple of open PRs along this line)

Antonio Murdaca <notifications@github.com> schrieb am Fr., 2. Dez. 2016,
11:17:

[2016-12-02 10:58] runcom commented on #178
@jonboulle sgtm as well

[2016-12-02 17:27] mtrmac commented on #178
Well, there are really two issues here:

- The MIME types in the container ecosystem are a mess (`gzip` MIME types actually autodetect uncompressed/gzip/bzip2/xz, at least in the Docker implementation; we use a special MIME type to mark “not distributable” which is not a type of the content at all). That’s mostly out of scope of this report; I would be happy if anybody cleaned that up but I suspec

[2016-12-02 18:03] runcom commented on #178
mmm I was more talking about `PutBlob` rather than `copy.Image` - because in docker/docker we're using the image destination directly (not going through `copy.Image`.

[2016-12-02 19:06] mtrmac commented on #178
That is an option, sure, but it seems to be a bad match. If, as is in the case of OCI, the manifest schema dictates what the blob format should be, and the same manifest schema can be used in various transports, then the compression decision should be in the hands of `copy` or perhaps `image.genericManifest`, not in the hands of the individual transports.

For Docker, I guess this would mean using

[2016-12-05 15:36] #171 closed

[2016-12-05 16:47] #178 closed

[2016-12-17 12:46] humblec commented on #38
@runcom I would like to sign in here on this effort.  If there is a chance to bring Shared network storages for source and Destination, I would like to bring in gluster support to the same.

[2016-12-17 12:58] runcom commented on #38
@rhatdan @mtrmac ptal

[2016-12-19 15:08] rhatdan commented on #38
Works for me.  We need to do some design around this.

[2016-12-19 20:17] aweiteka opened #187 "Docker signature transport uses reserved URI characters"
Per implementation (also doc https://github.com/containers/image/pull/120) the manifest digest reference for the "docker" transport type is HASH_FUNCTION:HASH_VALUE, using a colon (:) delimiter. The "at" symbol (@) is also used the delimit image and manifest digest (again, see https://github.com/containers/image/pull/120). Per [URI: Generic Syntax](https://tools.ietf.org/html/rfc3986#section-2.2)

[2016-12-19 21:51] runcom commented on #187
/cc @mtrmac

[2016-12-20 19:54] aweiteka opened #188 "Use k8s client library"
We need to extend our custom client to sign images from inside a build pod:

* Use env vars **KUBERNETES_SERVICE_HOST** and **KUBERNETES_SERVICE_PORT**
* Use token from `/var/run/secrets/kubernetes.io/serviceaccount/token`
* Use CA from `/var/run/secrets/kubernetes.io/serviceaccount/ca.crt`
* Use namespace `/var/run/secrets/kubernetes.io/serviceaccount/namespace`

Our [openshift client](/container

[2016-12-21 03:10] stevvooe commented on #128
This was broken out into a separate package: https://github.com/docker/go-digest.

I've also submitted to OCI as a top-level project.

[2016-12-21 06:37] cyphar opened #189 "Failure: TestParseReferenceWithTagAndDigest"
Currently `master` fails with this error:

[code]

However this error **only** happens if you update upstream to the latest version (`go get -t`). So I think this is actually some upstream change that we aren't handling properly. Do we want to vendor this code, or otherwise integrate it here? I'm not sure, but something is definitely broken.

[2016-12-21 06:39] cyphar commented on #189
Yeah, it looks like `distreference.ParseNamed` has changed.

[2016-12-21 06:41] runcom commented on #189
@cyphar yup (I just woke up though and I'll be traveling today, I'll take a look at this as soon as I can)

Tracking upstream wasn't the best bet thought. Still we need that (also https://github.com/stevvooe/go-digest)

[2016-12-21 06:46] cyphar commented on #189
@runcom I figured it out, it's because we aren't loading the digest...

[2016-12-21 06:51] cyphar commented on #189
Fixed in #190.

[2016-12-21 07:48] #189 closed

[2016-12-21 16:00] aweiteka commented on #187
related issue #120

[2016-12-22 18:53] humblec commented on #38
@rhatdan sure.

[2016-12-26 00:09] cyphar opened #192 "copy: dest !compression not complied with if source is compressed"
This is a bit of a weird issue, but it's something that is exposed if you apply #148. Effectively because `docker-daemon` (and thus `docker/tarfile`) return the set of `DiffIDs` as the `LayerInfos` for a particular schema, you end up with `GetBlob(diffid)` giving you the wrong hash.

I'm not _really_ sure how we should handle this, because I don't think the `docker save`-style archives don't conta

[2016-12-26 00:16] cyphar commented on #192
Ah, sorry this is actually caused by the automatic compression/decompression done during copying. It looks like `ShouldCompressLayers` isn't being handled properly, causing a copy from `docker-daemon` -> `docker-archive` to work, but `docker` -> `docker-archive` to not work.

[2016-12-26 23:12] cyphar commented on #192
Ah, it's because `copy/copy.go` doesn't actually appear to decompress  layers if the target layer doesn't accept compression. Which is a bit ... odd.

[2017-01-03 17:19] mtrmac commented on #38
@runcom Could you describe more precisely what “for shared storage” means? Is it simply a filesystem containing image blobs? A filesystem containing expanded image? Something else?

How does synchronization against multiple writers happen?

[2017-01-03 17:56] mtrmac commented on #187
Ouch.

Anyway, to be more specific, quoting that RFC:

(emphasis mine)

Then, looking at `http` URI ( https://tools.ietf.org/html/rfc7230#section-2.7.1 ), we are back in https://tools.ietf.org/html/rfc3986#section-3.3 for `path-abempty`, and ultimately `pchar`, which explicitly contains `:`, and then

so `:` is allowed in principle, with

which… changes nothing?

And then

The HTTP specification s

[2017-01-03 18:10] rhatdan commented on #187
I believe we care what Artifactory accepts.  Should we open a conversation with them?

[2017-01-03 18:31] humblec commented on #38
iic, its about a filesystem containing image blobs.  synchronization against multiple writes should be taken care by the underlying FS. @runcom/@rhatdan can correct me though :)

[2017-01-03 19:14] mtrmac opened #196 "Restore in-memory check for duplicate layers"
… per https://github.com/containers/image/pull/63#discussion_r91383407 . That PR did add an `imageCopier.copiedBlobs` but it has no uses.

[2017-01-03 19:21] mikeatlas opened #197 "Why gpgme instead of native openpgp?"
In the `signature` package, the [`mechanism`](https://github.com/containers/image/blob/master/signature/mechanism.go) source uses a cgo wrapper for GnuPG Made Easy library: [`github.com/mtrmac/gpgme`](http://github.com/mtrmac/gpgme). Is there a reason why this was chosen over pure [Go's native OpenPGP](https://godoc.org/golang.org/x/crypto/openpgp) package?

Thanks.

[2017-01-03 19:27] mtrmac commented on #197
Please see the extensive discussion currently happening in https://github.com/projectatomic/skopeo/issues/274 ; let’s discuss there instead of splitting that into two places.

[2017-01-03 19:27] #197 closed

[2017-01-03 19:31] mikeatlas commented on #197
Thanks

[2017-01-03 20:00] aweiteka commented on #187
For reference, here's the code (line 101):
http://subversion.jfrog.org/artifactory/public/trunk/base/common/src/main/java/org/artifactory/util/PathValidator.java

I'll bump [this thread](https://www.jfrog.com/jira/browse/RTFACT-8695).

[2017-01-04 17:26] mtrmac commented on #187
I guess this could be because of https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx , the impossibility to use colons in file names on Windows?  That does seem to be important for cross-platform portability.

[2017-01-07 02:59] mtrmac opened #200 "Document and possibly clean up gcr.io authentication support"
As discussed in more detail #195, the code in #191 is non-obvious, it neither documents why it is needed nor carries a test case; it is fairly risky that we will break it over time just because we don’t know what to maintain.

* Most importantly, what is the way the original code failed?
* It is non-obvious that blindly sending a `Basic` auth without checking the `WWW-Authenticate` header contents

[2017-01-07 03:06] mtrmac commented on #188
I would dearly love to get rid of those 1000 lines; but using the OpenShift client did increase the size of the binary, by at least 50 MB if I remember correctly.

(That was an OpenShift client, using the OpenShift object types for the images etc, not a k8s client, though; perhaps that is something else entirely. It has also been more than 6 months since the original work, things might have change

[2017-01-07 03:43] mtrmac commented on #192
So, to be explicit, am I correct that the issue is:

* `skopeo copy docker://… docker-archive:$x` creates a valid (i.e. consumable by `docker load`) tarball, which contains compressed layers and DiffIDs of uncompressed data [but no record of the digests of the compressed data]
* `skopeo copy docker-archive:$x …` then fails, because it uses the DiffIDs to identify layers but the actual files are co

[2017-01-07 04:21] mtrmac commented on #192
A particular concern, of course, is signatures: whether we verify, what we verify, and who decides what we verify, all matters. Right now, in the case of the `docker-daemon:` format, this is academic because the format can’t record or provide signatures, but we do intend to integrate that $somehow fairly soon. I’m afraid right now I don’t have a completely clear idea what that would look like and

[2017-01-07 04:46] mtrmac opened #205 "Clean up `daemonImageDestination.PutBlob` digest handling"
See https://github.com/containers/image/pull/193#discussion_r95052151 .

[2017-01-09 20:25] #133 closed

[2017-01-10 14:27] mtrmac commented on #192
Thinking about this a bit more, the abstraction we impose on an `ImageSource` forces us to create an artificial manifest for `GetManifest`; and that manifest _must_ refer to blobs using the same digests which we return in `PutBlob`. So, unless we invent a new manifest schema, options 3 and 4 are not viable.

(OTOH we also now have option 5: rework the abstraction, perhaps to expose the tar `manife

[2017-01-11 18:36] GrantSeltzer commented on #138
This can be closed: https://github.com/containers/image/pull/186

[2017-01-11 18:43] mtrmac commented on #138
I don’t think so; we use `errors.Errorf`, which gives us a stack trace, but the original error values are not attached (these lines have been updated to use `errors.Errorf`, but not `errors.Wrap`)

[2017-01-11 18:44] mtrmac commented on #138
… oops, there is no “original error” in these cases. So, yes, the stack trace is in principle sufficient to tell what is going on—for the developers. A readable error message would still be an improvement.

[2017-01-11 19:07] runcom commented on #138
I'm ok adding more context to the error (it was my fault at writing those subtle errors). I'll fix this tomorrow.

[2017-01-11 19:08] GrantSeltzer commented on #138
@runcom I can handle it, fixing it up now

[2017-01-11 19:08] runcom commented on #138
Cool, thanks Grant!

[2017-01-12 16:00] rhatdan commented on #187
So from my reading these characters are out.
[code]

[2017-01-12 16:02] rhatdan commented on #187
Suggestions:
[code]

[2017-01-12 16:10] aweiteka commented on #187
`#` is a fragment delimiter, [example.com#some-anchor](#)
`&` is a query key=value delimiter, [example.com?foo=bar&bar=foo](#)
`@` is an email address delimiter, [foo@example.com](#)
`~` is a user delimiter, [example.com/~aweiteka](#)

[2017-01-12 16:29] mtrmac commented on #187
Based on https://github.com/docker/distribution/blob/master/reference/reference.go ,

 - `/` delimits components
- `_`, `.` and `-` are allowed in reference components
- `+`, `_`, `.` and `-` are allowed in digest algorithm
- `:` and `@` are used in the tag`@`algo`:`digest syntax

(This duplicates some of the exclusions mentioned above, repeating to explicitly associate them with the semantics / r

[2017-01-12 17:04] rhatdan commented on #187
Does that leave from my original list.
[code]

[2017-01-12 20:22] aweiteka commented on #188
Basic testing looks like using the k8s go-client adds 45MB.

[code]

[2017-01-17 18:38] aweiteka opened #212 "Contributing dev documentation for adding image transport type"
We want to encourage developers to extend library transport types.

**User story**
As a developer who wants to extend the library to integrate with my 3rd party tech, I want some documentation for how to do this.

[2017-01-17 19:30] mtrmac commented on #212
`s/signature transport/image transport/` in the title?

The short version is “implement a `types.ImageTransport` and add it to `containers/image/transports.KnownTransports`”; we’ve been trying fairly hard to document `types.go` extensively. I realize that’s not really a step-by-step guide, but given this, what are the main missing pieces? I suppose placing the quoted sentence somewhere, at the ver

[2017-01-17 19:37] aweiteka commented on #212
Yes. Updated

Inline documentation is very good. What's missing is a high-level doc to provide some guidance what this library can do generally, interesting extension and integration points.

[2017-01-19 19:24] mtrmac commented on #128
This has been fixed by #163.

[2017-01-19 19:24] #128 closed

[2017-01-23 04:57] erikh opened #224 "Tests leak gpg agent / gpg processes"
Witness (after numerous test runs):

[code]

HTH, I'll start looking into it.

[2017-01-28 09:12] mtrmac opened #229 "docker→OCI conversion should differentiate compressed and uncompressed layers"
Right now, in `manifestSchema2.convertToManifestOCI1`, we assume that all input layers are gzipped, which is not generally the case. We should somehow detect this (e.g. `copy.copyLayers` does actually know the true format at some point) and use the correct MIME type.

[2017-01-28 09:29] runcom commented on #229
I also noticed we should fix the image config when converting from docker v2s2 to OCI :cry: right now we're blindly just changing docker config media type to OCI config media type but that's wrong because docker v2s2 config has "container_config" which OCI doesn't have. Let's merge #223 and re-iterate ok?

[2017-01-28 09:32] mtrmac commented on #229
Yes, that’s why I filed this as a separate issue.

[2017-01-30 11:52] cyphar commented on #192
@mtrmac Alright I'm back. Sorry for the extended silence.

I would prefer that we just decompress blobs when we're an `ImageSource` -- which means that there's no messing around with manifests or other structures -- we are just providing a different blob to the one we were originally given.

Handling signatures is a bit of an issue, but ultimately because of the hacks done with `DiffIDs` we will h

[2017-01-30 17:30] mtrmac commented on #192
ACK.

[2017-01-31 11:02] runcom commented on #229
schema2 to oci1 is always gzipped layers afaict - there's no such "no-gzipped" layers in docker v2s2

[2017-01-31 16:01] mtrmac commented on #229
Good point, `dockerd always compresses the layers when pushing; but it does do format autodetection when pulling and supports both uncompressed layers and non-gzip compression formats.

When both us and `dockerd` send layers compressed using gzip, so just assuming gzip should be good enough.

[2017-01-31 17:20] #229 closed

[2017-02-02 02:32] erikh commented on #82
I'll do it

[2017-02-02 02:33] erikh commented on #82
FWIW, i think closewitherror is typically needed on Write/ReadClosers but not closers themselves -- it's typically used to propagate to io.Copy and similar.

[2017-02-02 13:54] mtrmac commented on #82
Do not get hung up on the `CloseWithError` name here, this has nothing to do with `Pipe{Reader.Writer}.CloseWithError`; it’s just a name collision with that five-line helper function I have suggested above to do correct error propagation if `Close()` can fail. That five-line helper can be named anything else.

[2017-02-03 18:52] aweiteka opened #1003 "Make the // in docker:// optional?"
When I incorrectly reference docker daemon as `docker-daemon://IMAGE` it fails after pulling image. We should be able to parse this before going through the pull. It's confusing why skopeo requires the "//" prefix for some transport types.

[code]

[2017-02-17 12:40] #192 closed

[2017-02-25 12:21] #82 closed

[2017-03-02 14:21] #125 closed

[2017-03-04 05:55] mtrmac commented on #187
So the URI reserved characters are really a red herring; containers/image does already percent-encode them in the path when sending the request, and HTTP servers obviously percent-decode. This can be demonstrated by applying #201 and configuring e.g.
[code]

in a `registries.d/something.yaml`, which results in e.g.
[code]

(note how both `:` and `@` are unquoted, and how Go’s net/url parsing+quoti

[2017-03-04 15:12] twaugh opened #248 "Add 'Env' to to imageInspectInfo"
When [atomic-reactor](https://github.com/projectatomic/atomic-reactor) examines a Dockerfile and wants to know the value of a label after environment variable substitution, currently it must pull the parent image in order to be able to resolve environment variables.

It would be really useful if a remote image could be inspected to determine its environment variables instead of needing to pull it.

[2017-03-06 15:39] aweiteka commented on #187
I like it. '=' it is.

[2017-03-08 21:57] zeddii opened #250 "local registry copy"
I'm currently using skopeo and umoci to manipulate OCI images in a docker free runtime.

I've been through the code, and as many READMEs/tutorials as I can find, and I still can't determine if I should expect that a copy to a local registry (from an oci image) should then be something I can copy again locally.

What I mean by that, is that I can copy an image to a docker registry (local or not), b

[2017-03-09 15:44] mtrmac commented on #250
Yes, such docker-free copies should work (by actually converting to docker schema2 because docker/distribution registries so far do not support native OCI images).

Looking at skopeo’s `integration/copy_test.go:TestCopyOCIRoundTrip`, this should just work, at least against the server version used in the test.

[2017-03-09 15:54] zeddii commented on #250
Right you are.  I just checked and in the two weeks since I pulled my support libs, a fix when into the registry copy and now the right tags are being created, and hence the manifest found.

Sorry for the noise, but thanks for the quick reply .. it made me take a second look at how fresh my code was.

[2017-03-09 15:54] #250 closed

[2017-04-03 20:35] #187 closed

[2017-04-10 14:43] mtrmac commented on #140
@cyphar Is this handled by #148, or is there more that needs to be done?

[2017-04-10 14:44] cyphar commented on #140
Yup, this is done. :tada:

[2017-04-10 14:44] #140 closed

[2017-05-10 10:34] mtrmac commented on #51
Fixed by #88 .

[2017-05-10 10:34] #51 closed

[2017-05-10 10:42] mtrmac commented on #200
#211 has removed all of the magic code, and added explanatory comments, so this is no longer outstanding.

[2017-05-10 10:42] #200 closed

[2017-05-10 10:43] mtrmac commented on #138
This was fixed back in January by #209.

[2017-05-10 10:43] #138 closed

[2017-05-10 10:44] mtrmac commented on #86
#88 implements the “convert and try” method. At least with the OpenShift `acceptschema2` option, there is no way to tell what is supported other than try to push a manifest.

[2017-05-10 10:44] #86 closed

[2017-05-10 10:49] mtrmac commented on #36
@runcom #259 has added `types.Image.OCIConfig`. Is there anything else we should do for this issue?

[2017-05-10 10:50] #36 closed

[2017-05-10 14:23] hferentschik commented on #155
Not quite sure whether this is the right issue, but I am after a sync semantic as well. I'd like to "backup" images from a running Docker daemon to disk. I was thinking of some ostree format. Then on request, I want to sync from disk back to a Docker daemon/registry.

To provide some more context, I want to do this in the context of https://github.com/minishift/minishift/issues/143. In the Minishi

[2017-05-10 14:33] mtrmac commented on #155
@hferentschik Do you just need ordinary copies, or what this issue calls “sync”, i.e. sharing of the common layers among several images? Without sharing creating a separate $backup per image, (`skopeo copy docker-daemon:$original dir:$backup`), and (`skopeo copy dir:$backup docker-daemon:$restored`) should work already.

If sharing of common layers is desirable, now (as of rc5) that OCI has an ind

[2017-05-10 15:01] hferentschik commented on #155
I would have expected that common layers are saved. If I understand this correctly, using dir,  I would need to export each image into its own directory. There would be no sharing of layers. In this case what is really the difference to 'docker save'. I might as well just call 'docker save' for all images. I was hoping to gain something by using container/images.

Right now, I can copy an image fr

[2017-05-10 15:02] hferentschik commented on #155
Sure, but what do I gain over a plain docker save/load in this case?

[2017-05-10 15:35] mtrmac commented on #155
Nothing for _that_ use. Flexibility in sources/destinations (e.g. that can be copy from a registry to dir:, then later from dir: to daemon).

[2017-05-10 15:40] mtrmac commented on #155
Right, containers/image `ostree:` does support multiple images in a single OSTree structure. _But_ containers/image has currently no support for reading from OSTree.

Anyway, that would be something completely separate from the original request above, which mentions `dir:` (not applicable, by design) and `oci:` (does not exist but only a little more work remains, https://github.com/containers/imag

[2017-05-10 18:17] hferentschik commented on #155
:-( Got you. I was assuming that all supported "protocols" would be two way.

I guess both are fine for my purposes. Can you give come ETA for this?

[2017-05-10 18:27] hferentschik opened #268 "Avoid usage of github.com/mtrmac/gpgme"
This library only compiles on Linux, since it uses C extensions which won't compile on OS X and Windows. This makes it for example hard/impossible to use _image_ as a library for a cross compiled CLI applications.

Could one not use Go's golang.org/x/crypto/openpgp?

For now I removed _github.com/mtrmac/gpgme_ and commented its use out from _mechanism.go_. If there is no way to make without C exte

[2017-05-10 18:31] hferentschik opened #269 "Use godeps or glide for dependecy management"
To make it easier for other applications to use _image_ as a dependency, it really should support at least one of the main package managers. Right now, if one specifies github.com/containers/image as a dependency using Glide, one ends up with multiple compilation errors. Given that the vendored dependencies are not checked in, there is not way for Glide to determine the set of dependencies.

One n

[2017-05-10 18:34] runcom commented on #268
you can use build tag `containers_image_openpgp` to not use `gpgme` but getting only a limited signing features, @mtrmac could you chime in here?

[2017-05-10 18:35] runcom commented on #269
nope, image is a library, it shouldn't matter if we're using vndr or anything else, there shouldn't be any deps in this repo - if there are, it's just because of testing and that shouldn't impact users of the library (I've imported image in many repos with Glide/Godeps w/o any issue). Not sure what's wrong with your setup.

[2017-05-10 18:36] runcom commented on #269
oh, and no please, we're not going to change vendoring tool again :*(

[2017-05-10 18:39] hferentschik commented on #155
For what it's worth, #268 and #269 are the problems I ran into when trying to use _image_ as a dependency. Apart from being able to copy to and from OCI, I really would need solutions to these issues as well, most importantly #268

[2017-05-10 18:49] hferentschik commented on #268
Yes, I've seen

I have not got this to work yet though. Also from a user point of view it would be nice, if the default would work for all OS types.

That said, there is another problem with:

    vendor/github.com/containers/storage/storage/lockfile.go:136: st.Mtim undefined (type syscall.Stat_t has no field or method Mtim)

The call to _syscall.Stat_t_ is OS specific and returns different struct

[2017-05-10 18:54] hferentschik commented on #269
+100, dependencies should not be checked in.

Interesting. It did not work for me. In particular docker/docker/client was problematic and in the end I had to add more of the dependencies from _vendor.conf_. I will try to re-produce issue and add the error I get when just adding _image_ as a dependency.

[2017-05-11 08:22] runcom commented on #269
@hferentschik we don't use `trash`, we use [`vndr`](https://github.com/LK4D4/vndr)

[2017-05-11 08:41] hferentschik commented on #269
@runcom I am confused, so what's this then:

* https://github.com/containers/image/blob/master/Makefile#L20
* https://github.com/containers/image/blob/master/Makefile#L24

[2017-05-11 08:59] hferentschik commented on #269
For what it's worth, there is a pull request for Glide to support rancher/trash - https://github.com/containers/image/issues/269

[2017-05-11 09:13] hferentschik opened #270 "Wrong build instructions in README"
From the README:

That is not quite correct, if you check out the source, you will first need to run _make vendor_ before being able to run _go build_.

On this note I am wondering why the actual _go build_ is not integrated into the _Makefile_, depending on vendor. In fact, imo it should be the default target.

You should be able to checkout the sources and run _make_ and everything gets bootstra

[2017-05-11 09:30] hferentschik commented on #268
_containers_image_openpgp_ tag aside, I still cannot compile this out of the box. _mtrmac/gpgme_ is a defined dependency which gets downloaded into the vendor directory. When I then try to build, I get:

    # github.com/containers/image/vendor/github.com/mtrmac/gpgme
    vendor/github.com/mtrmac/gpgme/data.go:4:11: fatal error: 'gpgme.h' file not found
    #include <gpgme.h>
              ^
    1

[2017-05-11 10:17] mtrmac commented on #155
…

That depends on someone doing the work :) Would you be interested in helping?

[2017-05-11 10:21] mtrmac commented on #268
The `openpgp` backend is limited (verification only, no signing), so there are two dimensions of “work” which may be in conflict.

Though, AFAICT, the situation for macOS and Linux is pretty much the same: GPGME development libraries have to be installed. In neither it is a part of the mandatory base system, so it may need to be installed by the user. I suppose with Linux it may be a little easier

[2017-05-11 10:24] mtrmac commented on #268
What _exact_ command are you using to build this? This should only happen when the build tag is not present. (Alternatively, install a GPGME development library + headers, via `brew` or whatever cgo can find.)

This is the same thing as https://github.com/projectatomic/skopeo/issues/310 , where the supposed fix https://github.com/projectatomic/skopeo/pull/331 lacks a macOS tester. Could you verify

[2017-05-11 10:30] mtrmac commented on #269
@runcom containers/image was modified in #244 to use `trash`; `skopeo` does use `vndr`.

[2017-05-11 10:37] mtrmac commented on #269
To make this explicit, painful past experience shows that `vendor`ed dependencies are often unusable from callers of a library because Go treats them as separate = incompatible package names. (I suppose it could work for some entirely internal dependencies.)

So, the user of containers/image will need to somehow vendor the needed dependencies in the right versions, as recorded by our `vendor.conf`

[2017-05-11 10:40] mtrmac commented on #270
Thanks for pointing this out, the instructions definitely need changing.

Though, it's not _entirely_ obvious what is the right thing to say in there: containers/image is a library-only package, so building it separately does not give the user anything immediately useful, whatever the build instructions are. Adding a default `make` target AFAICT does not change this.

We could provide some instruc

[2017-05-11 12:43] hferentschik commented on #270
Sure, but what's about development? Would it not make sense for development purposes to have the build part of the Makefile.

Consumers will indeed not see any of this.

[2017-05-11 12:47] mtrmac commented on #270
For development, the current default (get all tools, run tests) broadly makes sense. Sure, adding a `go build ./...` step in there to catch subpackages with no tests would be great; I currently use `go build ./... && make` as my primary compile/test step, and folding that into a simple `make` would be better.

[2017-05-12 05:15] hferentschik commented on #268
Let me double check

Will do.

[2017-05-12 12:54] hferentschik commented on #268
So there is the thing. If I do:

    $ make vendor
    $ go build -tags="containers_image_openpgp" ./...
    # github.com/containers/image/vendor/github.com/containers/storage/storage
    vendor/github.com/containers/storage/storage/lockfile.go:136: st.Mtim undefined (type     syscall.Stat_t has no field or method Mtim)
    vendor/github.com/containers/storage/storage/lockfile.go:136: not enough a

[2017-05-12 13:10] hferentschik commented on #268
Updating to the latest version of storage by adding:

    github.com/containers/storage d10d8680af74070b362637408a7fe28c4b1f1eff
    github.com/tchap/go-patricia/patricia v2.2.6
    github.com/opencontainers/selinux ba1aefe8057f1d0cfb8e88d0ec1dc85925ef987d

to vendor.conf, gets me past compilation errors.

[2017-05-12 14:17] mtrmac commented on #268
Good catch, `./...` includes all of the `vendor` subdirectory. That documentation needs to be fixed.

Also thanks for testing the storage update. I’ll work on on the necessary updates.

Well, a signature has to exist in order to be verifiable :)  If you mean that your intended use of containers/image does not involve signing container images, sure, that’s not inherently required. Much of the libra

[2017-05-13 05:41] humblec commented on #38
/assign @humblec

[2017-06-06 16:37] #270 closed

[2017-06-19 18:22] ilackarms opened #291 "dockerClient fails if registry key present and registry cert ends with .crt"
If registry key is found in the DockerCertPath e.g.

[code]

then `newDockerClient()` fails with error `setting up certs: missing client certificate registry.cert for key registry.key`

However if we rename registry.crt to registry.cert the error does not occur.

I can submit a quick PR to fix this issue (the problem seems to be [here](https://github.com/containers/image/blob/master/docker/docker_

[2017-06-19 19:58] ilackarms commented on #291
this issue occurs when a valid root CA exists in the DockerCertPath while a file named .key or .cert happen to exist there as well. it's probably not a common use case or error as clients should only have one or the other in a directory, so I'm closing this issue

[2017-06-19 19:58] #291 closed

[2017-06-21 00:18] aybabtme opened #293 "Decouple library from system's state"
Hey there,

When attempting to use this library, I realize that it isn't very "pure" in how it works:
- it writes to `stderr` and `stdout`
- it logs (usage of `logrus`, related to previous point)
- it reads config files from the filesystem
- it reads environment variables to enable/disable features.
- it writes files to the filesystem, instead of taking `io.Writer` or a pluggable "filesystem" inte

[2017-06-21 00:21] runcom commented on #293
I would be super happy to have patches for this, I kind of agree with you on every point :)

[2017-06-21 14:26] mtrmac commented on #293
I’d very much like to hear what exactly are you trying to build, instead of discussing this in abstract.

In rough points, my current thinking (open to change):

- Most importantly, we definitely want `containers/image` to be useful, and to evolve the way users need it to.
- The code should in general be structured to fit into any application.
  - There shouldn’t be any unavoidable hard-coded `std

[2017-06-21 18:11] owtaylor opened #294 "Valid oci reference names disallowed"
The rules for a valid `org.opencontainers.image.ref.name` at:

     https://github.com/opencontainers/image-spec/blob/master/annotations.md

Are quite different from the checks in the code, which seem to be (in oci_transport.go)

     var refRegexp = regexp.MustCompile(`^([A-Za-z0-9._-]+)+$`)

For example, `app/org.gnome.eog/x86_64/master` is valid by the former set of rules and not by the later.

[2017-06-21 18:14] runcom commented on #294
Nice catch

[2017-06-29 12:24] cyphar commented on #293
Just quickly chiming in with my $0.02.

`logrus` allows you to specify programmatically the output buffer for logs. Personally I want libraries to give logs because otherwise debugging them is almost impossible without recompiling source or spending a long time trying to figure out where a bug might be. There is a valid point to be made about errors being logged inside a library, but that's not en

[2017-06-29 12:27] cyphar opened #296 "*: gating different drivers behind build tags"
I'm not sure if we've discussed this before, but if we want to have a library that implements all manner of image formats and schemes we need to make it possible for users of this library to opt out of the dependencies if they're not going to use a particular driver.

For example, if I want to build `skopeo` without `ostree` support that is currently not possible. Should we add `noostree` and simi

[2017-06-29 12:32] runcom commented on #293
So, by setting the configuration in the appropriate SystemContext, these auto-reads files and envs is disabled. We should document this further.

right, we don't provide generic clients. The docker client for instance doesn't make sense to have urls passed down, the library itself provides those urls to talk to a registry

[2017-06-29 12:32] runcom commented on #296
I'm +1 on this.

[2017-06-29 13:15] mtrmac commented on #293
Most importantly note `RootForImplicitAbsolutePaths`.

OTOH the general caveat to `SystemContext` is that any time new functionality is added (e.g. recently `/etc/docker/certs.d` support) some applications may want to customize even more than before. _if_ they want to customize stuff to be mostly different from the system configuration.

Hence I am very curious to hear in which cases an applicatio

[2017-06-29 13:50] cyphar opened #297 "docker:// requires root now due to certs.d"
I understand that `certs.d` is needed but it means that you cannot run `skopeo` as an unprivileged user anymore due to the readability of `/etc/docker/cert.d` by normal users. This was actually a fairly big selling point of `skopeo` over `docker pull` because requiring `root` to download files of the internet doesn't make any sense.

It looks like you might be able to configure `skopeo` to not req

[2017-06-29 13:51] mtrmac commented on #296
It actually is possible now, with https://github.com/containers/image/pull/290 . (To be fair, vendored into `skopeo` only yesterday, and undocumented in skopeo. We should probably add that documentation—or #359 vaguely talks about autodetection.)

(As a side note, many users of the _library_ who need only specific transports can import only those transports and minimize dependencies. Only explicit

[2017-06-29 13:59] rhatdan commented on #297
skopeo should check if you are non root and then work the old way.  It should not require the use of a certs directory.

[2017-06-29 14:00] rhatdan commented on #297
We definitely want skopeo to work without requiring privs.

[2017-06-29 14:00] mtrmac commented on #297
Yeah, @runcom , IIRC we have discussed this on IRC, and just failed to capture this / fix it.  I can’t find the original conversation anymore; can you?

Just silently ignoring the client cert/key should be trivially safe. Silently ignoring a CA seems riskier, but `setupCertificates` always uses `tlsconfig.SystemCertPool` and only _appends_ the configured CA, so silently ignoring the one in `certs.

[2017-06-29 14:53] rhatdan commented on #297
Should it even be logged if the user is running as non-root?

[2017-06-29 14:57] mtrmac commented on #297
At least at the debug level (not enabled by default), yes. We have originally implemented `certs.d` after reports of _very_ non-intuitive failures when trying to access RH images from a CDN (“repository not found” or something like that), and any unprivileged user without access to the CDN cert will hit that; I think there should be at least _something_ to suggest to them what they might want to l

[2017-06-29 15:02] cyphar commented on #296
Ah, I didn't see that PR @mtrmac. But yes, my suggestion only applies for things with non-trivial dependencies.

[2017-07-03 20:46] hferentschik commented on #155
@mtrmac, sorry for the long turn-around on this, but I got side-tracked. However,  I would like to take up the discussion again.

TBH, I am a bit lost atm, in terms of how the OCI format works and also what's required to make this sync semantic work. So here is some test code I've wrote:

	srcRef1, err := alltransports.ParseImageName("docker://busybox:1.25")
	if err != nil {
		atexit.ExitWithMessa

[2017-07-03 21:02] mtrmac commented on #155
(Note that with `destRef1` and `destRef2` equal, the semantics is that the second copy _should_ overwrite the first one. If you want to keep both, use different references, e.g. `oci:/Users/hardy/tmp-2/oci:1.25` and `oci:/Users/hardy/tmp-2/oci:1.26`).

AFAICS (without testing your code in practice, so I may be overlooking something) the only missing piece is that `ociDestination.Commit` always cre

[2017-07-04 08:09] hferentschik commented on #155
I was kind of assuming that oci:/Users/hardy/tmp-2/oci is the base directory for multiple images and that I could store arbitrary images under the same path. But you seem to imply something like:

* oci:/Users/hardy/tmp-2/busybox:1.25
* oci:/Users/hardy/tmp-2/busybox:1.26
* oci:/Users/hardy/tmp-2/alpine:latest

How would that layout be able to share layers?

So right, looking at the busybox exampl

[2017-07-04 12:52] mtrmac commented on #155
Sure; but `copy.Image` deals with `ImageReference` objects for _individual_ images; it does not understand the structure of the reference, that’s up to the individual transport to define.

See `oci/layout.ParseReference`: they would share the same directory but differ in the tag. (Note that my example shares the part before the colon, i.e. the directory; your syntax would be currently interpreted

[2017-07-04 14:12] hferentschik commented on #155
Got you.

I really would see this feature, since we would dearly need it for https://github.com/minishift/minishift/issues/952. You seem to think that it is not so hard, but I fear it would take me quite some time to even understand where and how to plug this in and obviously it would need to fit the overall strategy/plan for containers/image. At the very least I think I would need some concrete p

[2017-07-05 14:25] hferentschik opened #299 "Certificate signed by unknown authority error for copy.Image"
I am trying to use copy.Image to copy an image from a Docker daemon running in a local VM. Here is the code:

	srcRef, err := alltransports.ParseImageName("docker://192.168.99.129:2376/openshift/origin:v1.5.1")
	if err != nil {
		atexit.ExitWithMessage(1, fmt.Sprintf("Invalid source: %v", err))
	}
	destRef, err := alltransports.ParseImageName("oci:/Users/hardy/tmp-2/oci")
	if err != nil {
		atexit

[2017-07-05 14:26] hferentschik commented on #299
For what it's worth, if I change the TLS verify option to:

    DockerInsecureSkipTLSVerify: true

I'll get:

    Copy failed: Error initializing image from source docker://192.168.99.129:2376/openshift/origin:v1.5.1: pinging docker registry returned: Get http://192.168.99.129:2376/v2/: malformed HTTP response "\x15\x03\x01\x00\x02\x02"

[2017-07-06 17:07] mtrmac commented on #299
Most importantly, the `docker://` transport connects to docker _registries_, not _daemons_. Is that a typo or are you really trying to connect to a remote daemon? If the latter, that would be done using the `docker-daemon:` transport, but that transport doesn’t currently support connecting to non-`localhost` (https://github.com/containers/image/pull/149).

As for TLS, what does the `logrus` debug-

[2017-07-06 17:08] mtrmac commented on #299
(For the `DockerInsecureSkipTLSVerify:True` case, the full `logrus` debug log could also be useful.)

[2017-07-06 17:17] mtrmac commented on #155
Is https://github.com/containers/image/issues/155#issuecomment-312733185 enough? The minimal version, without cleaning up unreferenced layers, considering the size of `ociReference.getManifestDescriptor`, should be on the order of 50 lines of code, perhaps + tests.

[2017-07-07 02:37] owtaylor commented on #294
In  projectatomic/skopeo#369 mtrmac said:

Looking at the code in `oci/layout/oci_transport.go` I'm wondering if that is necessary - the code disallows ":" in the path component, so that (as I understand it) you can set a policy on /a/b:c and have that be unambiguously refer to path=/a/b, tag=c. Since ':' is not allowed in the path, then I think it should be possible to simply change:

    + sep :

[2017-07-10 15:08] hferentschik commented on #155
Ok, I see what I can do. I try to work on this this week...

[2017-07-10 15:23] hferentschik commented on #299
Ahh, that's a misunderstanding then.

I guess that's what I need, but it seems there will be an issue with that.

How do I enable logrus debug output. I am loosing track how many different log frameworks are by now included in Minishift by the mere fact of the various dependencies :-(

[2017-07-10 15:59] mtrmac commented on #299
`logrus.SetLevel(logrus.DebugLevel)` I believe.

Also, quite a few experiments are easier/faster to do using the `skopeo` command-line utility, than writing Go code, e.g. `skopeo --debug copy …`.

[2017-07-13 14:16] aweiteka opened #304 "Rename signature transport type labels"
I understand the original justification for using these terms but the **atomic** and **docker** transport type labels are seriously misleading to users.

* why is the openshift API called "atomic"?
* why is a file- or http-based transport called "docker"?

Proposal:

atomic -> openshift
docker -> { urischeme | uri | scheme | http | file | ??? }

I'm assuming we could continue support for both old

[2017-07-13 14:30] mtrmac commented on #304
Historically, `atomic` because of the stand-alone Atomic Registry idea. Nowadays I wouldn’t bother with that transport at all, #255 makes using `docker:` more convenient even for OpenShift servers. Let’s let `atomic`/`openshift` specifics die.

`docker` is named like that both for the precent CLI, and because the docker/distribution repo defines the [API](https://github.com/docker/distribution/blo

[2017-07-13 23:20] cyphar opened #306 "oci transport will remove existing images"
If you try to have a multi-tag image with `skopeo` (by copying to different tags), then it will delete old tags. I also have a feeling that manifests without tags will be _really_ broken. You can verify this fairly trivially by doing:

[code]

I'll investigate this later. I found this while trying to increase umoci's testing.

[2017-07-13 23:27] cyphar commented on #306
For reference, IMO this should be handled in a similar way to umoci's `oci/casext.UpdateReference` implementation.

[2017-07-13 23:32] cyphar commented on #306
I believe this is related to projectatomic/skopeo#369.

[2017-07-14 16:36] mtrmac commented on #306
I don’t think this is https://github.com/projectatomic/skopeo/issues/369 ; it’s just that `ociDestination.Commit` ignores any pre-existing index and overwrites it with a single-manifest index for the just written manifest. That’s not intentional, contributions to fix this would be welcome.

(Also discussed in https://github.com/containers/image/issues/155 .)

[2017-07-16 00:50] cyphar commented on #155
@hferentschik If you just want an OCI CAS implementation, take a look at https://github.com/openSUSE/umoci (specifically, `oci/cas` and `oci/casext`). It doesn't have any of the conversion code that `containers/image` has but it's job is to implement full OCI image support with a sane interface.

[2017-07-18 19:47] hferentschik commented on #299
Closing this issue. Turns out what is needed is the ability to configure a remote Docker daemon connection. See #149.

[2017-07-18 19:47] #299 closed

[2017-07-20 08:04] chlunde opened #312 "copy does not use mount support for registry v2"
Registry v2 has an option for [mounting](https://docs.docker.com/registry/spec/api/#cross-repository-blob-mount) a blob instead of re-uploading a blob:

    POST /v2/<name>/blobs/uploads/?mount=<digest>&from=<repository name>
    Content-Length: 0

This feature could be used when copying within the same registry, for example:

    skopeo copy docker://rexample.com/prj/img1:tag docker://example.com

[2017-08-11 18:37] hferentschik commented on #269
Glide does provide the same functionality but is imo more popular. I would be happy to help switching to Glide, but if there is no interest feel free to close this issue.

[2017-08-11 18:40] hferentschik opened #324 "Makefile improvements"
I suggest some Makefile improvements which I added while working isuee #155.

[2017-08-11 18:55] hferentschik commented on #155
@mtrmac can you have a look at pull request #326. Am I on the right track with this?

[2017-08-14 19:08] hferentschik opened #327 "Support configure Docker daemon source and destination via SystemContext settings"
Create the Docker daemon client from environment settings. See also pull request #149

[2017-08-14 19:27] hferentschik commented on #327
See pull request #328

[2017-08-24 17:27] owtaylor opened #331 "Don't expect image sources to convert images for us"
The point of the requestedManifestMIMETypes parameter to ImageReference.NewImageSource() is to allow the destination to affect the type of image requested from the source. It looks like the inspiration for that was that the atomic registry at one point didn't accept v2 manifests - #26 (references https://github.com/projectatomic/skopeo/pull/102#issuecomment-228747350)

However, that usage was effe

[2017-08-24 19:58] mtrmac commented on #331
I agree, removing the parameter from the API does seem like the right thing to do.

One thing to note, though, is that containers/image _doesn’t_ implement conversion from manifest lists to individual manifests; in fact `copy.Image` tries to detect manifest lists and refuse to work on them—and we do have a test for this—if I understand the code correctly, `skopeo copy docker://some/list docker://…

[2017-08-24 20:41] owtaylor commented on #331
Confusing - if a manifest list is returned by the source the code will actually go ahead and select the v2 manifest since image.FromUnparsedImage() calls manifestInstanceFromBlob which has that code, but then, yes, it looks like it fail the copy operation. The current behavior will be a mish-mash, because sometimes the manifest list type will be in the accept header and sometimes not. (Mostly not,

[2017-08-24 20:52] mtrmac commented on #331
(apologies for the horrible run-on-sentence; as you have figured out, neutral destinations like `dir:` cause `dockerImageSource` to fetch the manifest list, and opinionated destinations like `docker:` ask only for s2, not s2 list, so the registry converts the image for us; the latter case breaks the logic in `copy.Image` to detect and refuse manifest list sources.)

[2017-08-26 10:12] runcom commented on #331
We might just fix other destinations to refuse list altogether, even if we will, at some point, figure out manifest lists.
And I agree, removing the parameter from the API does seem like the right thing to do here.

[2017-08-26 17:51] #297 closed

[2017-08-30 05:28] r2d4 opened #334 "[Docker] CredsStore support"
I'm trying to use a private GCR registry with this library.  I've set up a service account with the proper credentials as documented in the bottom of https://cloud.google.com/container-registry/docs/advanced-authentication under `Using a JSON key file`

It seems like [`getAuth` ](https://github.com/containers/image/blob/dec75a46e65489eb3d04e8e851190916531e6e38/docker/docker_client.go#L401)will try

[2017-08-30 17:58] mtrmac commented on #334
You’re not overlooking anything, this is not currently supported. An implementation of this would be very welcome.

[2017-09-02 19:12] runcom commented on #334
Yeah, thanks for pointing this out

[2017-09-03 09:04] rhatdan commented on #334
@umohnani8 PTAL

[2017-09-05 13:38] umohnani8 commented on #334
@rhatdan Should I work on adding this support as well to the authentication package?

[2017-09-05 13:40] runcom commented on #334
this can be closed now though

[2017-09-05 13:40] #334 closed

[2017-09-05 13:45] rhatdan commented on #334
@umohnani8 yes

[2017-09-05 16:27] r2d4 commented on #334
Thanks for the quick resolution!

[2017-09-07 14:11] #331 closed

[2017-09-13 09:55] williammartin opened #343 "Digest verification not performed on manifests and other blobs"
For OCI and Docker images, it seems we only verify the digest of the `ConfigBlob` (https://github.com/containers/image/blob/master/image/oci.go#L82-L85 + https://github.com/containers/image/blob/master/image/docker_schema2.go#L120-L123). It feels like this should occur for all blobs downloaded, instead of relying on every library consumer to remember, and to correctly implement verification of the

[2017-09-13 17:00] mtrmac commented on #343
The verification also happens for manifest digests in https://github.com/containers/image/blob/master/image/unparsed.go#L57 , and for blobs in https://github.com/containers/image/blob/master/copy/copy.go#L641 and other uses of `digestingReader`.

What are you ultimately trying to do? If the goal is to read the whole image, it might be better to call `copy.Image` instead of the individual `types.Im

[2017-09-13 17:54] williammartin commented on #343
Oh wow, totally did not see this verification when I was searching. Let me look into it and get back to you. Thanks a lot.

[2017-09-13 19:20] rhatdan opened #345 "Add kerberos and SSH support to containers/image to pull from a container registry."
Would need to add support to OpenShift Registry as well but this would give us  a better security story then storing base64 encoded passwords.

It would show leadership in containers/image also

[2017-09-19 09:18] williammartin commented on #343
I'm gonna close this pending further investigation on our side, looks like a mistake from me! Thanks @mtrmac

[2017-09-19 09:18] #343 closed

[2017-09-21 08:14] giuseppe opened #347 "Store image Digest from ostree_transport"
I'd like to store the `"Digest":` information that is given by Skopeo inspect into the OSTree metadata when pulling a new image.  I could do this separately but: 1) it will require another process/request 2) have to overwrite the metadata once it is written by containers/image.  I don't see any immediate way for doing this, is there a way for doing this from `ostree_transport.go`.  Is there a way

[2017-09-21 14:57] mtrmac commented on #347
Could you be more precise, please? I am probably missing a fair amount of context.

- Digest of what? manifest list / manifest / config / blobs? (Note that the pull may use a digest of the manifest list, which does not match the architecture-specific manifest!)
- By what? The `ostree:` transport? If so, how do processes figure in this?

My best guess is that you want to know a manifest digest in `

[2017-09-21 16:09] giuseppe commented on #347
it is literally called `Digest` in the `skopeo inspect` output.  I was using the name `Digest` referring to the Skopeo output and I believe it is the v2 image digest.
With system containers we used it for comparison of the images version.  While I could also use any other kind of checksum on the manifest itself here, I'd like to store the digest in the OSTree metadata, it is quite handly when you

[2017-09-21 16:14] mtrmac commented on #347
[code]
Is there anything that makes the above impossible?

But again, note the difference between manifest lists (what `skopeo inspect` currently gives you) and the individual image manifests (what the code above computes).

[2017-09-21 17:11] giuseppe commented on #347
Thanks, that works.  I've opened a PR here:

https://github.com/containers/image/pull/349

[2017-09-21 17:11] #347 closed

[2017-09-25 15:44] vrutkovs opened #350 "docker-archive transport throws 'image not known' error"
[code]

Versions:
[code]
`skopeo inspect` shows `sha256:3a0bcd`.. is in fact a blob, not an image:
[code]

Note, that Fedora image can be saved correctly using `sudo skopeo --debug copy containers-storage:registry.fedoraproject.org/fedora:latest docker-archive:/tmp/tmpgNao4X/built-image.tar:latest`

[2017-09-25 16:47] mtrmac commented on #350
Thanks for your report.

This seems to be `GetBlob` calling `store.ImageBigData`, which fails because the blob (which is not a layer, i.e. is a config) is not found.

I wouldn’t be surprised by a failure reading the layers ( #305 ), but a config not found can AFACT only happen the manifest generated by buildah is incorrect.

@nalind ?

[2017-09-25 18:08] nalind commented on #350
The per-image metadata that would map the blob ID to a layer ID isn't there (buildah doesn't create it), so the image library's reading logic is assuming that the digest corresponds to a data item.  I think #305 does away with depending on that information in favor of using information that's maintained for everyone by the storage library, so it should fix this once it gets revised to take advanta

[2017-10-20 12:59] hferentschik opened #361 "Make compilation of storage transport optional"
The storage transport is Unix specific and does not cross compile to Windows, making it impossible to compile containers/image for Windows.

Similar to ostree the storage compilation should be optional and be controlled via build tags.

[2017-10-20 13:08] mtrmac commented on #361
See https://github.com/containers/image/pull/355 .

[2017-10-20 13:11] hferentschik commented on #361
Ahh, I see. Shall I close this issue or leave it open? Seems #355 is a pull request without a matching issue? I think there is also something missing.

[2017-10-20 13:13] mtrmac commented on #361
Well, it still is an issue; I don’t care strongly whether it is kept open. (We don’t require a separately filed issue for each PR.)

The code in #355 seems fine; it needs @runcom to take a look, and rebasing.

[2017-10-20 13:17] hferentschik commented on #361
IMO it makes sense since it helps people to determine whether an issue already exists. I did, for example, search the issues to determine whether this was reported before but did not find anything. Hence I created a new issue.

[2017-10-20 16:36] rhatdan commented on #361
I would love to see us turn on storage support for Windows...

[2017-10-24 20:46] jonboulle commented on #104
@runcom I'm pretty interested in something like this but curious what kind of UX you had in mind? would the user have to supply a `from`?

[2017-10-24 20:56] runcom commented on #104
yup :cry:

[2017-10-24 20:59] jonboulle commented on #104
@runcom I guess my use case is slightly different - I'd like a client to avoid copying blobs from a non-docker-registry source to a docker-registry destination, if it knows they're already there in a different namespace... thoughts? (Maybe this just doesn't map to skopeo)

[2017-10-24 21:04] runcom commented on #104
the issue here is what the registry can say about a particular blob (e.g. if it's on the registry basically). I'm not sure the docker registry API exposes this info. Otherwise, as said in the other issue there should be some cache about already pushed layers from a client but that won't, of course, know about _all_ blobs. I'm not sure, @mtrmac do you have other ideas here?

[2017-10-26 00:21] mtrmac commented on #104
(We do ask by a `HEAD /v2/$repo/blobs/$digest`; a “sufficiently smart” (i.e. probably backed by a stateful database with some locking and indexes, instead of the current IIRC ~stateless implementation) registry could already maintain an index of $digest independent from $repo and tell us that the blob is available; but there is no “mount by $digest without knowing $repo” API.)

Yeah. There’s one a

[2017-10-26 00:26] mtrmac opened #367 "Image conversion does not canonicalize MIME types"
@myllynen reported in https://github.com/projectatomic/skopeo/issues/395 that repeated uploads seem not to detect already uploaded layers:
[code]

[2017-10-26 00:39] mtrmac commented on #367
So, it turns out that duplicate layer detection actually works fine, so…

We are not actually _copying_ the layers to `registry.example.com`; but we _are_ downloading the full contents from the source.

This happens because the code has decided to convert the original schema1 image to schema2 , and that conversion requires `DiffID`s to be computed, and that needs to read the full contents of the l

[2017-10-26 11:15] hferentschik opened #368 "Windows incompatibilities in Docker daemon and OCI transport"
In the Docker daemon and OCI transport, there are some operations which are not compatible with Windows. For example, _ocArchiveTransport_ makes use of non-portable tmp directory in
https://github.com/containers/image/blob/master/oci/archive/oci_transport.go#L197:

[code]

There are some other places where "/var/tmp" is used which should be addressed as part of the issue.

Another problem is tryin

[2017-10-26 20:43] mtrmac commented on #294
This was fixed in #318.

[2017-10-26 20:49] mtrmac commented on #111
#339 added support for `credHelpers`; we do not support `credsStore` yet.

[2017-10-26 23:26] rhatdan commented on #294
@mtrmac If it is fixed, close the issue.

[2017-10-27 21:06] mtrmac commented on #294
Right, I meant to do that and somehow didn’t.

[2017-10-27 21:06] #294 closed

[2017-11-02 17:09] nlewo opened #372 "`trash` fails to build the cache"
make test
INFO[0000] Trash! Reading file: 'vendor.conf'
INFO[0000] Preparing cache for 'github.com/BurntSushi/toml'
INFO[0002] Checking out 'github.com/BurntSushi/toml', commit: 'b26d9c308763d68093482582cea63d69be07a0f0'
INFO[0002] Preparing cache for 'github.com/containers/storage'
INFO[0028] Checking out 'github.com/containers/storage', commit: '47536c89fcc545a87745e1a1573addc439409165'
INFO[002

[2017-11-04 20:09] mtrmac commented on #372
Thanks for the report.

With `go version go1.8.3 darwin/amd64` and `trash version v0.3.0-dev` (commit afed821794b6182227a1834300ee6e02f296895c ) , this works as expected for me.

Skopeo’s `vendor` tool also can process the `github.com/gogo/protobuf/proto` subpackage specifier correctly.

I suppose the fix in #373 can’t hurt either way, but it would still be interesting to understand the root cause

[2017-11-06 15:45] vbatts commented on #104
surfacing this issue, after realizing this morning that an operation like `skopeo copy ...` was re-pushing every layer. :ocean:

[2017-11-06 15:58] runcom commented on #104
Tackling this now

[2017-11-06 16:09] mtrmac commented on #104
@vbatts Was it actually copying them, or “only” spending a few roundtrips to notice that they already exist?

[2017-11-06 16:10] mtrmac commented on #104
Never mind, the existence check does not work cross-repo. Sorry.

[2017-11-06 16:15] vbatts commented on #104
@jonboulle
:8ball: Reply hazy try again
:8ball: As I see it, yes

[2017-11-06 16:16] vbatts commented on #104
@mtrmac you arrived at the answer, but yes, it does a full push for every layer regardless

[2017-11-13 16:28] jonboulle opened #381 "docker destination fails on quay.io"
quay.io implements the V2 Docker Registry API, but not yet the V2.2 media types. containers/image is fine copying from it as a source, but when trying to copy to it as a destination, it fails [during the `PutManifest`](https://github.com/containers/image/blob/0136a925854d78a47f785ce009b5fa8ef5f7e810/docker/docker_image_dest.go#L240) because Quay returns a 202:
[code]

The [registry API documentati

[2017-11-13 16:30] runcom commented on #381
yup, I'll try to fix this, definitely something we can handler better here.

[2017-11-13 16:30] jonboulle commented on #381
For what it's worth, the docker/distribution code is pretty broad about what success codes it's happy with in this scenario: https://github.com/docker/distribution/blob/e5b5e44386f7964a1f010a2b8b7687d073215bbb/registry/client/repository.go#L559

[2017-11-13 16:37] runcom commented on #381
surely an issue with quay.io according to the registry spec though https://docs.docker.com/registry/spec/api/#put-manifest

[2017-11-13 16:39] runcom commented on #381
see https://github.com/containers/image/pull/382

[2017-11-13 17:24] #381 closed

[2017-11-13 17:27] jonboulle commented on #381
thanks!!

On 13 November 2017 at 18:24, Antonio Murdaca <notifications@github.com>
wrote:

[2017-11-14 15:18] rhatdan commented on #381
@jonboulle Could you tweet about this?
@runcom should we cut a new skopeo version?  Or should we wait for the enhanced Dir support?

[2017-11-14 15:20] runcom commented on #381
I'd wait about the Dir enhance if it's ok with you Dan

[2017-11-14 19:01] rhatdan commented on #381
SGTM

[2017-11-26 17:03] runcom opened #384 "Try signature extensions in registry before using the docker sigstore"
Now that the `docker://` transport transparently uses the registry extension for signature (in OpenShift), I think it's better to first try to push the signature on the registry before using the sigstore in the `default.yaml` file.
This came out on fedora, we have a `default-docker` for `/var/lib/atomic/sigstore` shipped in the os, but when pushing to the openshift registry which supports signatur

[2017-11-28 14:05] mtrmac commented on #384
Yeah, from e-mail titled ”docker/distribution extension for signature access—impact on atomic and configuration” on Mar 29:

Was that lost?

---

Anyway, I have the (trivial) patch implementing 3 available, if you agree that’s the best thing to do.

[2017-12-04 11:29] williammartin opened #387 "Image -> ImageCloser confusion"
This commit: https://github.com/containers/image/commit/32374d9fa917ee18bb6cffaca1946ee3e7217b37 broke us and I'm trying to figure out what the best resolution is.

The issue is that our flow is:

[code]

But now `types.Image` doesn't have a `Close()` method. Because of the way Updating is spread across image types, I'm not sure it's possible to assume all will have the right closers. Maybe @mtrma

[2017-12-04 16:36] mtrmac commented on #387
This should work
[code]

---

The goal of that commit is to allow
[code]

like `copy.Image` does, where discarding a `types.Image` does not automatically close the underlying `types.ImageSource`.

(Ideally we should do better about enforcing the “closed” state of sources;  the ordering of `originalImage.Close`/`updatedImage.Close`/`src.Close` is currently not enforced/protected by the code, only d

[2017-12-06 21:47] mtrmac commented on #368
This was fixed in #379 . Thanks!

[2017-12-06 21:47] #368 closed

[2017-12-07 13:17] williammartin commented on #387
Ok thanks for taking the time. I'll close this out as it was more of a question and will reopen if anything else comes up.

[2017-12-07 13:17] #387 closed

[2018-01-12 09:57] vrothberg opened #397 "support registry mirrors"
Currently, we are working on adding support for private-registry mirrors to moby/docker (see https://github.com/moby/moby/pull/34319). The core semantics are that users can specify mirrors for a given registry, which will be selected as endpoints prior to the registry when pulling an image. Prior to our change, mirroring worked only for the docker hub.

The ability to mirror registries (i.e., pull

[2018-01-12 16:56] mtrmac commented on #397
It does sound interesting, and `pkg/sysregistries` does look like the natural place to keep the configuration.

(It is a bit annoying that we anticipate having two separate configuration locations from the outset, but, oh well, it’s only like the millionth time :) )

[2018-01-19 13:29] vrothberg commented on #397
@rhatdan @mtrmac Thanks for your comments!

Currently, there is a clear separation between secure and insecure registries in `pkg/sysregistries`. While the most straight-forward way of supporting mirrors might be adding another `[mirrors]` table, I am not sure if that's the most elegant one.
I see some beauty the way https://github.com/moby/moby/pull/34319 configures Docker's `daemon.json`. Now, t

[2018-01-20 00:18] mtrmac commented on #397
I don’t have a strong opinion on the design of the `registries.conf` file (@baude wrote that code), just one note:

That would be very confusing; an insecure registry can also be using TLS (i.e. `https`), except that no verification is performed. Sure, using the `https`/`http` distinction is technically a way to store a boolean, but it would be very unexpected if the boolean meant something else i

[2018-01-20 00:26] mtrmac commented on #397
@baude Are you the one to ask about `daemon.json` in addition to `registries.conf`, or should we bring in someone else?

[2018-01-22 13:14] rhatdan commented on #397
@baude did the original work, but I agree with @mtrmac we should have a boolean in addition to the https to indicate whether we want trusted vs untrusted registries.

[2018-01-24 15:32] TomSweeneyRedHat opened #409 "Return errcode from HasBlob rather than error"
The code in docker_image_dest.go:HasBlob() (https://github.com/containers/image/blob/master/docker/docker_image_dest.go#L193-L205) returns an error which then has to be parsed to determine if the problem was an authorization error, read error from the destination, or other error.  It would be good if it could also (or maybe instead) return an error code.   Then code like what was done in https://g

[2018-01-24 15:34] TomSweeneyRedHat commented on #409
I'd add that this is an enhancement request.  I tried to add a label to that effect but was unable to.

[2018-01-24 15:55] mtrmac commented on #409
Yeah, `HasBlob` should probably be handling errors consistently with https://github.com/containers/image/pull/390 .

[2018-01-29 15:13] mtrmac commented on #372
The equivalent of #373 has been merged in #305, so hopefully this now works. Please reopen if that’s not the case.

[2018-01-29 15:13] #372 closed

[2018-01-29 17:02] #409 closed

[2018-02-09 02:06] steveb opened #413 "Regression in the returning of inspected labels"
Since the commit 82b213b, the following command had returned an empty dict instead of fully populated Labels:

`skopeo --debug inspect docker://registry.access.redhat.com/rhosp12/openstack-nova-api:latest`

Since this is a regression and the revert is clean I'm going to propose a PR with the revert.

Whatever the fix, this affects builds of skopeo-0.1.28 so revendoring will be required.

[2018-02-12 18:32] mtrmac commented on #413
Thanks for your report.

The revert would work, but also leave us with two copies of the code, one working and one broken; it would ultimately be cleaner to just fix the one copy.

I think I’ve done that on https://github.com/mtrmac/image/tree/305-cleanup , but this shows that we would benefit from tests for the code—so, I’ll add some before submitting that branch as a PR.

[2018-02-12 18:49] runcom commented on #413
@nalind PTAL it's related to one of your commit

[2018-02-12 22:02] steveb commented on #413
Thanks, I've tried testing projectatomic/skopeo master with image branch 305-cleanup but compile failed:

`cmd/skopeo/inspect.go:100:11: cannot use imgInspect.Created (type *time.Time) as type time.Time in field value
make: *** [Makefile:78: binary-local] Error 2
`
I can test again when requested.

[2018-02-22 21:17] steveb commented on #413
I've tested https://github.com/mtrmac/skopeo/tree/305-cleanup and the labels are being returned again.

[2018-03-07 19:08] mtrmac commented on #361
This was fixed by #362 AFAICT; please reopen if that’s not the case.

[2018-03-07 19:08] #361 closed

[2018-03-15 14:19] #413 closed

[2018-03-27 17:25] barthalion opened #432 "Make libselinux optional dependency"
SELinux labeling has been introduced in 9b4510f6d1627c8e53c3303a8fe48ca7842c2ace for ostree, making libselinux required to build the library (and projects like buildah and skopeo that vendor it). Would it be possible to make it optional or hidden behind a build tag?

[2018-03-27 18:09] mtrmac commented on #432
All of `ostree:` is already optional, via the `containers_image_ostree_stub` tag. Is that sufficient for you, or are you actually trying to use `ostree:` without SELinux?

If the latter, I’m not sure whether it makes sense to make SELinux optional. @giuseppe ?

[2018-03-27 18:14] barthalion commented on #432
Rather the latter, unless ostree in context of skopeo/buildah is a niche feature. For now I just reverted linked commit, but I can't realistically keep doing it forever.

[2018-03-27 18:47] giuseppe commented on #432
The ostree backend (at least how it is used by atomic system containers) depends on SELinux as we need to label each file in the image.

@barthalion are you using the ostree backend in a different way?

Otherwise, as @mtrmac pointed out, I'd suggest you disable ostree altogether.

[2018-03-27 21:36] rhatdan commented on #432
Wouldn't the buildtag "selinux" control whether or not you need SELinux?

[2018-03-27 22:05] mtrmac commented on #432
Not in the c/image code as it exists today.

[2018-03-28 09:08] barthalion commented on #432
@giuseppe: My goal is to package podman for Arch (already did skopeo and buildah with a reverted change), so I guess it's up to the user.

I only scratched the surface of how things work. Do I understand correctly that labeling each file is needed for atomic containers for Atomic Host, but not necessarily for everyone?

[2018-03-28 09:20] giuseppe commented on #432
@barthalion yes it is needed only for atomic containers, not only on Atomic Host as they work on a non-ostree Fedora/CentOS/RHEL system as well.  I was just wondering what is the use case of the ostree backend if not used for the atomic containers and if in your case it would make more sense to just disable it.

[2018-03-28 12:32] barthalion commented on #432
I'm not sure if it's possible to solve that with cgo involved (from my cheer lack of knowledge about it) – but labels could be just skipped/ignored for distributions without selinux support. Security suffers, but I guess that atomic containers would still work that way?

[2018-03-28 13:28] giuseppe commented on #432
if the rest of the system has no selinux enabled/supported then atomic containers should still be able to work in theory, but that must be tested.

Could you give it a try and see if it works without selinux?

[2018-04-11 16:35] strigazi opened #442 "Slow image pull with ostree backend"
I have been using system containers with the ostree backend on Fedora 26 Atomic hosts and Fedora 27 Atomic hosts and I have noticed that in Fedora 27 it is quite slower. The Atomic utility uses skopeo to pull container images which uses this library. I use a couple of applications in system containers: etcd, kubernetes, flannel and an openstack tool and I have timed in a silly (but pragmatic) way

[2018-04-11 18:56] mtrmac commented on #442
@giuseppe PTAL

[2018-04-11 20:25] giuseppe commented on #442
I've some WIP in https://github.com/giuseppe/image/tree/ostree-parallel that can improve the situation

But that needs to be better tested

[2018-04-11 20:40] agonzalezro opened #443 "Some of the dependencies in vendor.conf are not needed"
It has come to my attention that you have `gorilla/mux` inside the `vendor.conf` but it seems that it's not being used at all in the library.

Probably there are some other dependencies that you are tracking in the vendor file that are not being used either.

[2018-04-11 20:53] agonzalezro commented on #443
I looked for the ones that are not being imported anywhere and they seems to be a few:

[code]

Maybe I did something wrong with that "script" but I manually checked some of them and I couldn't find references to them.

[2018-04-12 04:42] rhatdan commented on #443
Why not remove those open a PR and see if the tests pass?

[2018-04-12 07:26] agonzalezro commented on #443
@rhatdan here you go: #444. I didn't do it before because I thought there should be some reason to have them there and I just wanted to check.

[2018-04-12 11:40] mtrmac commented on #443
Excluding all of `vendor` means that all transitive dependencies are not considered. Many of the listed results seem to be that kind.

[2018-04-17 19:26] mgoltzsche opened #445 "Update docker dependency"
Update dependency of github.com/docker/docker since it stops me from using a newer docker feature.

[2018-04-17 20:12] rhatdan commented on #445
Which feature?

[2018-04-18 16:48] mtrmac commented on #445
… and more to the point, update to what version? A tested PR would be nice.

[2018-04-18 19:46] #443 closed

[2018-04-18 20:05] mgoltzsche commented on #445
To be precise: I want to use github.com/docker/docker/dockerfile/shell which is separately available since [a634526d14639c6b98c509a069ef29e2b69c0ef0](https://github.com/moby/moby/commit/a634526d14639c6b98c509a069ef29e2b69c0ef0). In the version used here this Dockerfile variable parser code is still contained in the parent dockerfile package with a lot of other docker-specific dependencies which I

[2018-04-20 11:20] cyphar opened #447 "docker-archive: multiple tag support"
At the moment if you want to operate on a `docker-archive:` it will only create a single `RepoTags` entry. However, Docker image tarballs are quite different to other images in that when you import them into `docker` you have no way of changing their name -- so if you wanted to import a single image under multiple names you would have to `skopeo copy` the image to different archives. However the f

[2018-04-20 11:31] mtrmac commented on #447
Sure.  The feature makes sense; exposing it through `SystemContext` seems to be the best of the various ugly options.

Maybe make the `SystemContext` field / `skopeo` option explicitly `docker-archive:`-specific, at least until we have more enough other transports to understand the common/different aspects.  (E.g. `oci-archive:` might in principle benefit from something similar, but uses a differe

[2018-04-20 12:00] mtrmac commented on #447
Looking at https://github.com/projectatomic/libpod/issues/649 , do you need to handle _only_ the case of multiple tags for a single image, or do you expect to need support for true multi-image archives? The latter would make adding special-case `SystemContext` facilities somewhat less attractive (though still acceptable to me).

Cc: @runcom

[2018-04-20 12:03] vrothberg commented on #447
Just to clarify: this issue and projectatomic/libpod#649 are only indirectly related. The current issue mostly relates to `skopeo-copy` dealing with multiple tags. In this context, we checked how podman deals with it and found the issues mentioned in  projectatomic/libpod#649.

We only need multiple tags for a single image.

[2018-04-25 13:05] vrothberg commented on #447
Here's a PR implementing it: https://github.com/containers/image/pull/450

I used this commit in `skopeo copy` to add additional tags via a `--additional-tag` flag, and it works as expected (i.e., the `manifest.json` in the archive includes the additional tags).

[2018-04-30 12:32] #397 closed

[2018-05-01 11:52] mgoltzsche commented on #445
Tested PRs to be applied in the following order:
1) Merge #446 - vendor.conf update; small code adjustment due to changed dependency; using projectatomic/skopeo#498 to pass integration test
2) Merge projectatomic/skopeo#498 - vendor dir update
3) Merge #452 - use skopeo master for integration test again

[2018-05-07 08:54] strigazi commented on #442
@giuseppe Can I help with testing?

How can can we get this in skopeo soon-ish? :)

[2018-05-07 09:59] giuseppe commented on #442
@strigazi could you first confirm if that changes improve the situation for you?

If that is the case I can open a PR, I've done some testing and the changes seem to work for me, I'd need though to test more images and that everything works as expected.

[2018-05-07 14:39] #447 closed

[2018-05-11 06:05] barthalion commented on #432
Sorry it took so long, got busy with life™ and other projects. With SELinux parts reverted, containers that ship with labels work fine.

[2018-05-11 12:45] giuseppe commented on #432
can this issue be closed or is there anything that must be fixed in the code?

[2018-05-11 17:17] barthalion commented on #432
By reverting (and a test) I meant removing SELinux-related changes from `ostree/ostree_dest.go`. I'd rather not remove ostree backend from tools using containers/image, but if that's what you recommend, so be it.

[2018-05-19 02:45] mtrmac commented on #367
This was fixed by #418.

[2018-05-19 02:45] #367 closed

[2018-05-23 15:25] davidcassany opened #460 "Referencing archives"
I have noted that at least for `docker-archive` and I pretty sure it also happens for other `archive` types that src and dest reference strings expect something like:

`<transport>:<path>[:<reference>]`

The problem I have is that the _path_ can potentially contain colons `:`, when this happens _skopeo copy_ calls fail parsing the source image reference in a wrong way. I believe it would make sens

[2018-05-23 17:56] mtrmac commented on #460
Thanks.

This has been discussed earlier in https://github.com/projectatomic/libpod/issues/489 .

Basically, we are stuck with having _some_ string representation, and a string representation means in-line metacharacters.

That does not fix destinations; and whatever solution, if any, designed for destinations, would not apply to sources.  And of course it is _highly_ desirable that sources and de

[2018-05-23 19:24] mgoltzsche commented on #445
Adjusted steps to be done according to the [process](https://github.com/projectatomic/skopeo#dependencies-management):
1) Merge #446 - vendor.conf update + small code adjustment due to changed dependency
2) Change containers/image reference in projectatomic/skopeo#498 to make it mergeable
3) Merge projectatomic/skopeo#498 - vendor dir update

[2018-05-24 07:50] davidcassany commented on #460
@mtrmac thanks for asking and linking the discussion from podman. Sorry I only checked this repo and skopeo repo for similar issues, I did not check other dependent tools.

Well the idea here was to force `<transport>:<path>` for sources, where only the first colons are separators, and force `<transport>:<path>:<container>:<tag>` for destinations, where first colons (from left) separate transport

[2018-05-26 01:38] mtrmac commented on #460
No problem; this might have been mentioned in here somewhere as well, but the podman issue is the one I remembered, and it contains the clearest examples of the issues, specifically for `docker-archive:`.

The code aspect does not worry me _that_ much; all the parsing and formatting is consolidated in a single file for each transport, with required good test code coverage (because of its interacti

[2018-05-26 03:38] #445 closed

[2018-06-20 20:56] jethrogb opened #469 "Support uncompressed image in docker registries"
Docker registries ostensibly support uncompressed layers: https://github.com/docker/distribution/blob/7dba427612198a11b161a27f9d40bb2dca1ccd20/manifest/schema2/manifest.go#L33

It would be nice if this were supported by this library.

[2018-06-28 17:48] mtrmac opened #471 "/run/$UID/containers vs. /run/containers/$UID vs /run/user/… in pkg/docker/config"
In `getPathToAuth` (https://github.com/containers/image/blob/5144ced37a1b21b63c6ef605e56811e29a687528/pkg/docker/config/config.go#L146 ) , the `sys.RootForImplicitAbsolutePaths != ""` and `runtimeDir == ""` cases construct the `/run/*` path differently (`containers/$UID` vs. `$UID/containers`); and the commit message talks about `/run/usr` while the commit drops the `/run/user` prefix.

AFAICT fro

[2018-07-02 16:21] #471 closed

[2018-07-06 06:08] praveenkumar opened #475 "Docker daemon source transport layer doesn't check for existing blob in case of oci destination"
Is there any specific reason behind this?

[code]

[2018-07-06 20:38] mtrmac commented on #475
“Yes” :)

Writing to OCI compresses the layers, which makes it impossible to check whether the original uncompressed layer is present when doing a second copy.

[2018-07-07 03:54] praveenkumar commented on #475
@mtrmac Is there any option to put un-compresses layer when using with oci destination or it is just a limitation for us right now?

[2018-07-07 03:57] mtrmac commented on #475
There isn't one right now.  What do you ultimately _need to do_?

[2018-07-07 09:04] praveenkumar commented on #475
@mtrmac As part of minishift [0] we use oci as the destination source to cache the docker images using `minishift image export` (https://github.com/minishift/minishift/blob/master/pkg/minishift/docker/image/oci_image_handler.go#L311-L340) and this works with all the different platform (win, mac and linux) but as you know performance affected if there is some layers already exist but then also it a

[2018-07-07 11:08] vrothberg commented on #475
It works when using docker instead of docker-daemon as the source. The docker-daemon has some limitations compared to other transports (e.g., using it as a destination will always copy).

[2018-07-09 13:19] mtrmac commented on #475
In _this_ aspect, It works pretty much the same in both cases - if a `docker:` source contained uncompressed blobs (which, to be fair, pretty much never happens), `skopeo` would not detect the duplicate either.

Yes, that performance impact is always there. IIRC a `docker-daemon:` source creates _two_ on-disk copies of the data before `skopeo` even gets access to it (and makes a third one); and on

[2018-07-09 13:41] mtrmac commented on #475
Thanks.

Overall, I do realize that use cases are what they are, and I can’t dictate that the world should change to make life easier for this project; nevertheless let me at least _suggest_ to think whether it would be possible to reorganize the code to minimize usage of the Docker daemon’s container storage as an image store.

As you see here, that comes with fairly noticeable performance impact

[2018-07-10 02:31] wking opened #476 "Replace github.com/docker/docker/client dependency?"
We currently depend on it [here][1], but it pulls in [a lot of apparently-unrelated Go][2].  It would be nice to drop that heavy dep for something more focused on image transport.  Perhaps [github.com/docker/distribution/registry/client][3]?  Or is github.com/docker/docker/client providing a lot of added value that is unavailable in other places?

github.com/docker/docker/client also shows up as a

[2018-07-10 05:46] praveenkumar commented on #475
@mtrmac Thank you for the explanation.

https://github.com/praveenkumar/minishift/blob/45ef7845c5ad2eb391eeac90e28fc73b5f42632b/pkg/minishift/docker/image/oci_image_handler.go#L325-L349 is what I also did as part of the PR instead of directly consuming the docker-daemon let's consume `docker` as source but in user is offline then `docker` source is unreachable so fall back to `docker-daemon` as so

[2018-07-10 07:31] jorgemoralespou commented on #475
@mtrmac as I read this, it seems as OCI storage might not be the most
appropriate one for/when working on this use case, and potentially a
containers-storage backend would be much more beneficial in terms of speed
and ease, but that seem not to be available for Windows and macos hosts.
Would it be too complex to work on those backend? Bare with me I'm not a
technical guy so maybe I'm saying someth

[2018-07-10 19:00] mtrmac commented on #476
`docker/docker/client` is a client for the “engine API”, i.e. for connecting to the docker _daemon_ (`docker-daemon:` transport in c/image).  That’s something entirely different from the `docker/distribution` registry API (`docker://` in c/image).

(And #44 is neither, really; it’s a proposal about an internal implementation detail of `c/image/docker`, which does not call either of these packages

[2018-07-10 19:29] mtrmac commented on #475
(To be explicit, this would be an option passed to the library; all the consumers do not have to agree on a single value.)

Well, not a “regression”, but there is certainly a _time/space tradeoff_.  A quick test on my personal system:

With the current behavior (compressing layers, broken duplicate check), both the first and any subsequent copy takes 14.6 seconds, and the resulting directory (for

[2018-07-10 19:42] mtrmac commented on #475
appropriate one for/when working on this use case, and potentially a
containers-storage backend would be much more beneficial in terms of speed
and ease

No; the difference in duplicate detection is _entirely_ driven by whether the backend asks for layer compression or not.  (`containers-storage:` is inherently uncompressed; `oci:` can in principle support both, but right now always asks for compr

[2018-07-11 03:39] praveenkumar commented on #475
@mtrmac right, that would help all the consumers.

@jorgemoralespou what is your opinion around this? ATM I will try that and see how our overall cache size effect due to this.

At that moment, I can't promise to take this up but I am interested to work on that flag which allows consumers to get layers without compression.

[2018-07-11 10:53] praveenkumar opened #477 "image copy from oci source to different docker daemons does not behave as it should be."
Is below expected?

[code]

Now lets use a different docker-daemon <192.168.42.184>

[code]

[2018-07-11 11:31] LalatenduMohanty commented on #477
Basically it seems docker is not able to recognize the  layers when skopeo copies the container image to different docker daemon.  This seems like a bug to me and we are seeing the issue https://github.com/minishift/minishift/issues/2583. We caught the issue because users delete the Minishift VM and recreate it when required.

[2018-07-11 13:29] mtrmac commented on #475
FWIW, to prototype this, hard-code `ociImageDestination` to return `types.PreserveOriginal`.

(A full fix would make it configurable via `types.SystemContext`, the way `dirImageDestination` does it.)

[2018-07-11 13:38] mtrmac commented on #477
Thanks for your report.

It is definitely unexpected that behavior differs _based on an IP address_. the code makes no choices based on an IP address as such. There must be some other cause.

Are the two hosts using exactly the same docker daemon version?

[2018-07-11 13:48] praveenkumar commented on #477
@mtrmac  Yes, both the remote hosts using the same docker daemon which we ship as part of CentOS repo.

[code]

[2018-07-11 13:51] praveenkumar commented on #475
(A full fix would make it configurable via types.SystemContext, the way dirImageDestination does it.)

@mtrmac thanks, I will take a look into this tomorrow and try to send PR soon.

[2018-07-11 14:18] mtrmac commented on #477
OK, this is basically the mirror of #475: the daemon image store internally identifies layers by their uncompressed digest (`DiffID`), but the compressed tarballs (used both by `oci:` and the `docker/distribution` registry protocol) must first be decompressed to determine that value. That’s basically the same “cache” discussed in #475, except that the Docker daemon actually implements it.

So, the

[2018-07-11 15:46] jorgemoralespou commented on #475
@praveenkumar I think that it's something that could be interesting as long as we provide a nice "pruning" mechanism for the cache as it gets bigger.

Most of the images in origin should share same base layers, so ideally this would not add that much overhead on disk space, as long as layers are properly re-used.

[2018-07-11 19:06] mtrmac commented on #477
I was mistaken about this; the _file format_ can record the data, but the code interpreting the data is really only enabled on Windows. Worse, Docker before 1.12, when not running on Windows, rejects any tarballs with `LayerSources` filled in; so, adding that data helps nothing and decreases compatibility. (FWIW, an implementation is in https://github.com/mtrmac/image/tree/tarfile-LayerSources , b

[2018-07-12 02:29] LalatenduMohanty commented on #477
We are using docker available in CentOS, is that unmodified version of docker?  It should not as it is same as docker in RHEL7.

[2018-07-12 11:31] mtrmac commented on #477
CentOS works the same way currently; I meant “unmodified compared to status quo”, sorry about that.

[2018-07-12 11:40] praveenkumar commented on #475
@jorgemoralespou so I made changes as per @mtrmac suggested and also send PR. now below results from the minishift side. you can notice there is a good gain in time but also we are now using more storage.

With that PR

[code]

Without PR

[code]

[2018-07-12 12:39] rhatdan commented on #475
BTW I will take speed over size everytime.  We can add features like ostree, reflink and other stuff to help with the size issues.

[2018-07-12 12:43] mtrmac commented on #475
OSTree / reflink can’t deduplicate an extracted layer against the tarball; the Minishift usage of this OCI cache amounts to storing two copies of the uncompressed images on the same system. Any deduplication that happens within the OCI repo works, more or less, just the same for compressed and uncompressed data, and does not change the relative size increase.

(It may well make sense to use the un

[2018-07-13 11:31] Silvanoc opened #479 "Clearer licensing statement"
The licensing statement at the end of the [README.md](https://github.com/containers/image#license) is confusing, because it's unclear which license is meant with 'ASL 2.0'. Looking at the [LICENSE file](https://github.com/containers/image/blob/master/LICENSE) I concluded that it's a not so wide spread acronym for Apache Software License (or something similar).

I'd rather explicitly state the lice

[2018-07-13 11:51] rhatdan commented on #479
Please open a PR to change it

[2018-07-13 11:53] Silvanoc commented on #479
I will, but it might take a while. I first have to request a contribution permission on my company :unamused:

[2018-07-13 11:56] rhatdan commented on #479
SGTM

[2018-07-18 08:59] praveenkumar commented on #477
@runcom ping, any comment for https://github.com/containers/image/issues/477#issuecomment-404277704 ?

[2018-08-14 12:03] vrothberg commented on #460
@mtrmac This issue came up today internally again. https://openbuildservice.org is building container images using Kiwi+umoci but also using Dockerfiles+docker. The build service team is currently evaluating podman (also for building) and hit the issue again.

I can think of two concrete use cases:
 1) Mapping the `image:tag` to the file system.
 2) The open build service uses ":" to split parent

[2018-08-14 16:45] mtrmac commented on #460
Oh well, if we have, to, we have to. (Others WDYT?)

Step 0 here would be to add a `c/image/docker/archive.NewReference(string, reference.NamedTagged)`, so that API callers can submit paths and references which are not subject to unescaping; and so that they can drop their specific knowledge that `:` is forbidden. (And `transports.ImageName(archive.NewReference())` would do the escaping to create

[2018-08-14 16:50] mtrmac commented on #460
… and so that API callers, after converting to `NewReference`, are not affected by whatever string representation we end up using.

[2018-08-14 17:52] rhatdan commented on #460
I am fine with this change.

[2018-08-22 09:06] vrothberg opened #492 "docs: prefix with "containers-""
I started working on improving the CRI-O docs (see kubernetes-incubator/cri-o#1747) and noticed an inconsistency regarding the naming of manpages among the `containers/*` libraries. `containers/storage` prefixes all manpages with `containers-` while `containers/image` doesn't.

I see two main reasons for using the `containers-` prefix also for `containers/image`:
 - Consistency :)
 - `registries.c

[2018-08-22 12:28] vrothberg commented on #492
@rhatdan I think that conflicts are likely without the prefix (also for `policy.json(5)`, for instance). I can take over propagating the renames if we decide to do it.

[2018-08-22 12:32] rhatdan commented on #492
Yes please start doing this. Would also like to make sure this content shows up if the user executes

man -k container

[2018-08-22 13:07] mtrmac commented on #492
With the proliferation of `git-*(1)` and `systemd.*(5)` man pages and so on, I feel that we have lost the predictability of the manual naming a long time ago (and of course no-one prints it all and reads it from start to finish any more).

I also quite agree that nobody is going to just _guess_ `policy.json(5)` or `registries.conf(5)`; at best it can be found in `/etc/containers` by a curious stud

[2018-08-23 13:45] #492 closed

[2018-08-24 21:53] jfilak opened #495 "Enable overriding TemporaryDirectoryForBigFiles in runtime"
I need to pull big images - hundreds of GBs. I don't want to mount  my containers related device to /var/tmp . I don't want to rebuild this project just to change the tmp directory.

Would it be possible to introduce an environment variable (e.g. CONTAINERS_IMAGE_TMP_DIR?) or a configuration option where I could specify the directory for big files?

[2018-08-27 10:27] #479 closed

[2018-09-11 19:31] mtrmac commented on #495
Thanks for your report.

Sure, this makes sense; I’d generally prefer an explicit option via `types.SystemContext` to an environment variable.

[2018-09-25 06:49] yolo3301 opened #507 "Add a random image transport"
The transport should generate a random image with the given # of layers and # of bytes of each layer. It should only support produce an ImageSource but not ImageDestination. This will come handy for testing scenarios - e.g. testing if a registry supports certain manifest schema

I could contribute to such a feature if it makes sense at all.

[2018-09-25 20:38] rhatdan commented on #507
SGTM
@mtrmac WDYT?

[2018-09-26 16:06] mtrmac commented on #507
It seems to me that a problem with “random image for testing” is that each test only wants to test something _specific_, and usually fairly isolated; i.e. the image is “entirely random except for this aspect which must not be random at all” (in your example, “it must have a valid manifest in a specified schema”) — and it’s not at all obvious to me that it is possible to create a random image gener

[2018-09-26 16:54] yolo3301 commented on #507
Thanks for the feedback!

My idea is simple. The random image source will always generate a valid v2s2 image. Since the "copy" enables converting v2s2 to other schemas, it pretty much means we can get a random image for all schemas. Forgive me I lack the knowledge of any "specific" test requirements other than the schema.

Also the "test" here, I meant more like conformance tests. E.g. to see if a

[2018-09-28 18:20] bparees opened #509 "when trying to pull from an untrusted registry, an incorrect error is reported"
my registry is insecure but i didn't have it listed as an allowed insecure registry in my config.  This appears to lead to a confusing error while pulling the image:

[code]

@nalind

[2018-09-28 18:20] bparees commented on #509
(note also that the error string isn't being printed correctly because it's a pointer)

[2018-09-28 19:08] nalind commented on #509
Well the string part should be #508.  The "build error:" message isn't in the image library, so the rest of the error reporting issue is probably in buildah or the code that's calling into it.

[2018-09-28 21:28] yolo3301 commented on #507
@mtrmac

[2018-10-01 17:19] mtrmac opened #510 "Add debug logs to show where docker/distribution credentials came from"
- Were they provided in `types.SystemContext`?
- Were they read from a config file? If so, from which one?
- Are we using no credentials at all?

[2018-10-09 08:38] praveenkumar opened #513 "index.json file updated whichever last command it executed when destination for 2 or more images are same."
Does below is expected?

Run both command around same time and let both to be finished.
[code]

Which ever command is finish last will have the content to index.json (not both) but blobs are present for both the images.

[code]

- Additional info - https://github.com/minishift/minishift/issues/2474

[2018-10-09 14:05] mtrmac commented on #513
Yes; if the destination is `oci:`_directory_, it is interpreted as “an unnamed image in _directory_”, and subsequent copies overwrite the unnamed image entry.

You can use `oci:`_directory_`:`_nameAnnotation_ to store many different images in a single OCI repository, disambiguated by the _nameAnnotation_.  (See `org.opencontainers.image.ref.name` in https://github.com/opencontainers/image-spec/blo

[2018-10-09 14:19] mtrmac commented on #513
FWIW https://github.com/minishift/minishift/issues/2474 seems unrelated: in that case, the code does seem to be using the `nameAnnotation` syntax, and experiencing a race in updating the file: between the time the manifest is read, updated, and written back, something else can read the old version, and then rewrite a different updated version which discards the first set of changes.

That race is,

[2018-10-09 15:27] praveenkumar commented on #513
@mtrmac I agree, we will spend some more time from minishift side how this can be resolved and this race condition might be fixed.

[2018-10-10 01:46] greglanthier commented on #111
@mtrmac in reply to https://github.com/containers/image/issues/111#issuecomment-339796455 - is this something you'd consider accepting a PR for?

When [Docker-for-Mac](https://docs.docker.com/docker-for-mac/) is installed the `~/.docker/config.json` file contains something similar to the following:

[code]

which means the `docker-credential-osxkeychain` credential helper is used - at least by the

[2018-10-10 14:31] cjeanner opened #514 "Uncaught error while opening "authfile""
Dear Containers Dev Team,

There appear t be an uncatched exception when we run "skopeo inspect" as a non-root user from within a container having a bind-mount for "/run:/run":
[code]

After some more checks and tests, it seems the following function is the culprit:
https://github.com/containers/image/blob/7a1eac5d1df2dbd73d8b71853ebce32d989fcae3/pkg/docker/config/config.go#L164-L185

It tests "on

[2018-10-10 15:47] mtrmac commented on #514
Thanks for your report.

This error handling bug was just independently noted and fixed in #515 ; it will now report “permission denied”.

As for completely ignoring the “permission denied” error in that case, that’s not obviously correct and more conversation around the design is likely to happen.  You do bring up a good point about images that don’t need any authentication, and contexts where `p

[2018-10-10 16:30] mtrmac commented on #111
(support for `credsStore`); sure, that would be great.

…

Yes, plus `SetAuthentication`/`RemoveAuthentication`/`RemoveAllAuthentication`; after one works, the rest should be straightforward. `credsStore` and `credHelpers` AFAICS use the same protocol.

AFAICS the `pkg/docker/config` subpackage does not have any unit tests for this yet (sadly), so this should not be a pressing problem. Of course n

[2018-10-10 19:17] nalind opened #518 "Need a way to learn the digest of (the manifest of) a copy of an image"
When we copy an image from one place to another, in cases where a format conversion is performed, we don't have a way to learn the digest of the written image's manifest.  OpenShift will want to know that value in order to be able to tell a runtime engine to use that exact version of the image.

While we can attempt to immediately use the destination reference to obtain an ImageSource, read the ma

[2018-10-10 19:17] nalind commented on #518
@bparees FYI

[2018-10-10 19:44] mtrmac commented on #518
Makes sense; `copy.Image` could, I think, very reasonably just return the manifest digest as an extra return value. (Or maybe the raw manifest as a `[]byte`, to avoid the overhead of computing the manifest digest if the caller does not care.)

Right now we only copy a single image instance, so this is trivial. After true support for multi-arch images is added, it still seems reasonable to return t

[2018-10-11 05:11] cjeanner commented on #514
Hello @mtrmac,

Thank you for your answer! So in my case, as skopeo is launched from within a container, all I have to do is to add a ```-e XDG_RUNTIME_DIR=/tmp/``` for example. It seems to work as expected with that new environment variable.

It might be sufficient, but it should be documented somewhere, although the use-case is probably specific.

Thanks again for your feedback!

[2018-10-11 22:35] mtrmac commented on #514
Thanks for the confirmation that this works; I don’t quite think that this is a satisfactory long-term solution, so let’s wait a bit whether that settles on a better one before documenting this workaround.

[2018-10-12 05:05] cjeanner commented on #514
Maybe allowing the "Permission Denied" to be ignored as an option? But that will diverge from docker options I guess? Not really familiar with that.

And if doc is to be created, /tmp/ should not be mentioned as it might create some security issue, of course ;). In my test, it was a quick'n'dirty thing.

[2018-10-30 22:13] Silvanoc commented on #432
Out of the comments I understand that the answer to @rhatdan ("Wouldn't the buildtag "selinux" control whether or not you need SELinux?") is NO, right?

Such a tight coupling kills OStree on systems without SELinux (what about those with AppArmor?). And not only for this project, but for Skopeo, LibPod, CRI-O and Buildah too.

OStree is very valuable feature by itself (without SELinux) on every de

[2018-10-30 22:46] Silvanoc commented on #432
FYI @barthalion [this is another commit](https://github.com/containers/libpod/commit/564578989b1afe4b6047eb08c68a7126d25b5470) that will break the support for OStree without SELinux in your LibPod package.

BTW I'd be glad to test your LibPod (Podman) package for Arch, but I couldn't find it anywhere. Hopefully reverting only as a temporary solution for having OStree without SELinux.

[2018-10-31 10:09] rhatdan commented on #432
I agree that we should be able to build libpod and containers image with ostree and no SELinux.  I'm not sure if this currently builds, and if this is buries inside of ostree code to require SELinux.

[2018-10-31 11:21] barthalion commented on #432
@Silvanoc There is no libpod package yet as I simply didn't have time for this, but I definitely want to have podman in official repositories.

@rhatdan At the moment I just [revert](https://git.archlinux.org/svntogit/community.git/tree/trunk/0001-Revert-ostree-add-selinux-label-for-each-file.patch?h=packages/buildah) changes that introduced libselinux requirement. I don't know enough about Go to

[2018-10-31 12:03] rhatdan commented on #432
@giuseppe could you look into this?

[2018-10-31 20:21] EmilienM opened #529 "Missing documentation for mirror support in containers-registries.conf"
@vrothberg introduced support for Mirrors in containers/image but there is no documentation:

https://github.com/containers/image/commit/633422b62042815f4288a1d85ad68bc58675b5fb
https://github.com/containers/image/blob/master/docs/containers-registries.conf.5.md

It is pretty difficult for users to understand what can be done, and how it can be configured.
Basically, I want to know if as a user I

[2018-10-31 20:21] EmilienM commented on #529
ping @mtrmac

[2018-11-07 15:34] qiancai opened #531 "RFE: tag the repo"
To make life easier to maintain packages in other distros, it was requested to tag the repo properly.

[2018-11-28 08:04] mtrmac commented on #513
Apparently Minishift has avoided the race in containers/image index updates in https://github.com/minishift/minishift/pull/2874 — though not by adding locking, but by using an unique index location and manually reimplementing the update of the shared index (in exactly the same racy way, just with a shorter window, as discussed in
https://github.com/containers/image/issues/513#issuecomment-42823767

[2018-11-28 08:04] #513 closed

[2018-12-05 15:05] cristi- opened #538 "Force signature version"
Hi,
Could i configure docker to try only "signature-1" and not "signature-2" ? The problem we're having is that our signatures are stored in s3 and, when we run docker pull image, docker tries signature-2 first, resulting in a 403 returned from S3 and the request fails:
[code]

This can be temporarily fixed by setting the s3 bucket to public, but I was wondering if there's a way to force docker to

[2018-12-05 15:34] mtrmac commented on #538
Thanks for your report.

There may be an arbitrary number of signatures, and any single one (or all of them) may be required in order to conform to the configure policy; so just reading one is not, in general, sufficient. The code is designed to try signature-{1,2,3,…} until it gets a 404.

Is it impractical to configure the web server to return 404 status for missing files? It would be _technical

[2018-12-06 06:37] vrothberg opened #540 "create manpage for transports"
As mentioned [here](https://github.com/containers/buildah/pull/1221#issuecomment-444566913), containers/image should have a manpage describing all supported transports. This manpage can then be referenced by other's (e.g., buildah/podman push/pull etc. and skopeo) and, if needed, mention which transports are not supported by a given command.

[2018-12-07 17:40] rhatdan commented on #531
V1.1 was just released.  Sorry about the delay.

[2018-12-07 17:40] #531 closed

[2018-12-08 05:45] cristi- commented on #538
This issue is specific to how the s3 website storage resolves missing files, in private buckets, by replying with a 403 code.
I thought maybe there was a way to specify a fixed version api for the signature. If this is by design then it's ok and I will recommend that we use a public s3 bucket which seems to work.
Thank you!

[2018-12-10 03:47] rhatdan commented on #538
What registry are you using?

[2018-12-12 15:39] cristi- commented on #538
We are using docker-distribution v2.6.2. The signatures are created with skopeo and synced to an S3 bucket.

[2018-12-14 13:32] vrothberg opened #544 "make localhost insecure by default"
Docker marks localhost as insecure by default. I assume that the reasoning behind that is to enable an easy and straight-forward way to develop and test against a local registry running on the same host. Note that there doesn't seem to be a restriction regarding ports.

I think containers/image should follow the example as I think that users expect this behaviour.

[2018-12-14 13:33] vrothberg commented on #544
@runcom @rhatdan @giuseppe @TomSweeneyRedHat WDYT?

[2018-12-14 22:01] Silvanoc commented on #432
@giuseppe, in a previous comment of you've written:

OStree provides a better deduplication than Docker (reducing the storage footprint of the images) that might be desired on other projects integrating c/image (like libpod, cri-o, ...) without being part of the atomic containers.

[2018-12-15 16:00] mtrmac commented on #544
What is the _exact_ set of hosts this would apply to? Precisely `localhost`? Precisely `127.0.0.1`? Both? More?

At a first glance this makes sense because a CA-signed certificate (even if signed by a private CA) for `localhost` is a dubious idea.

[2018-12-17 15:43] giuseppe commented on #432
OSTree is linked to SELinux so we cannot really disable it.

For what are you using OSTree anyway?  It is used only for system containers, I think you should just disable it.  With XFS gaining reflink support, I am not sure we will still be using OSTree for deduplication (reflinks are nicer as we can have different inodes).

it checks if selinux is enabled/disabled at runtime.  It won't change how

[2018-12-17 16:33] barthalion commented on #432
If this is about libostree, it works absolutely fine without selinux.

[2018-12-17 19:36] rhatdan commented on #544
Makes sense to me. localhost/image has no meaning to Docker, they default to docker.io/image
I think 127.0.0.1 would.
But this works for me.

[2018-12-17 20:56] Silvanoc commented on #432
It isn't easy, but it isn't impossible either. What about `dlopen`? I have almost ready a PoC (proof-of-concept) to enable loading and using `libselinux` only if it's available, no failure if built with `libselinux` support, but the library is missing.

We want to use it for embedded systems. So a completely different use-case from those that you have in mind. Perhaps therefore you are not aware o

[2018-12-17 21:15] Silvanoc commented on #432
The integration of support for `libselinux` depends on the presence of the library on built-time. But it implies that the library has to be also present on run-time.

Meaning that if I create an Arch package e.g. for `libpod` on a system without `libselinux` and without patching `containers/image` no users of that package will be ever capable of using OStree.

I would find it a real pity if you de

[2018-12-18 07:45] vrothberg commented on #544
What I would like to support is `localhost:$PORT` and `127.0.0.1`, which afaik aligns with what Docker does.

[2018-12-18 15:24] adambkaplan opened #548 "Registry White Lists in registries.conf"
Enhance `registries.conf` to support explicit registry white-lists. If white-listing is utilized, only images from the listed repositories are allowed to be pulled, pushed, and run.

Ideally implement similar behavior that was supported in OpenShift 3.x - see [OpenShift day two guide](https://docs.openshift.com/container-platform/3.11/day_two_guide/docker_tasks.html#docker-external-registries-whit

[2018-12-18 15:32] runcom commented on #548
@umohnani8 @QiWang19 PTAL

[2018-12-18 15:49] vrothberg commented on #548
@runcom, I think we can apply a trick to make this work. The new prefix-based format of the `sysregistriesv2` package can be extended to support wildcards. So we could have something as follows (format is wrong but the idea should be clear):
[code]

The prefix matching will make sure that either registry-B is used and that anything else will be blocked.

But this would just be one of many nice fea

[2018-12-18 15:51] vrothberg commented on #548
A complementary statement to the idea above. It will work as always the registry with the longest prefix match will be selected.

[2018-12-20 13:09] rhatdan commented on #548
My fear is having two ways of doing this is going to lead to confusion.  Which one wins.  If I reject everything in policy.json and I whitelist in registries.conf?

[2018-12-20 15:20] runcom commented on #548
Trust and registry whitelisting are two separate and orthogonal thighs. Even if I whitelist a registry, it doesn't mean I trust images from that registry. Having people deal with trust as a mere mean to block certain registries is misleading and can lead to confusion as well.
The confusion can be made clear by well defining the purpose of both configuration, but using the trust one to configure bl

[2018-12-20 15:34] adambkaplan commented on #548
I think an analogy with firewalls and SSL certs is helpful here. You can use a firewall to block IPs and domains en masse, as well as use CA's to trust/distrust a particular website.

[2018-12-20 15:38] rhatdan commented on #548
Perhaps I am clueless,  I don't see the difference.
Could someone give use cases based on podman commands where they would expect a difference.

[2018-12-20 15:47] vrothberg commented on #548
A university environment is usually a good scenario. An admin may forbid accessing porn-container registries and trust all others but some internal staging registry.

[2018-12-20 16:21] Silvanoc opened #552 "Keep scope of dependencies to this repository"
`skopeo` is being used to test `containers/image`, but when building `skopeo` the `vendor.conf` of `containers/image` is not being taken into account. Therefore adding new dependencies to `containers/image` breaks the tests until the same dependencies have been also added to `skopeo`. [This pipeline](https://travis-ci.org/containers/image/jobs/470428966) of PR #546 is showing this issue.

I'm not

[2018-12-20 16:34] vrothberg commented on #552
@Silvanoc, I understand the pain of vendoring as it's causing quite some extra work at times. However, containers/image is a library and nesting vendor folders is bad practice. In your particular case when a new dependency is added, it might work but updating existing dependencies is likely to cause errors as vendor/github.com/containers/image/vendor/dep-a might have a different API then vendor/de

[2018-12-20 20:31] Silvanoc commented on #552
@vrothberg  I understand that projects integrating `containers/image` (like `skopeo`) provide their own vendoring, as [documented in the README.md](https://github.com/containers/image#dependencies).

Perhaps my formulation of the issue isn't clear enough. I'm talking about the dependencies for testing `containers/image`. I mean, I'd expect to be able to get the tests through without touching any o

[2018-12-21 07:54] mtrmac commented on #548
The way I generally understand “whitelist”, it is a an alternative to a ”blacklist”, i.e. “somebody must explicitly put you on the whitelist for you to ‘pass’” vs. “anyone who is not explicitly added to the blacklist can ‘pass’ by default”.

That is _orthogonal_ to what “‘pass’ the list check” means. A hypothetical {black,white}list could in principle be set up either an independent check to signa

[2018-12-21 11:04] vrothberg commented on #552
@Silvanoc,  I understand your desire to change the CI as I share it with you. However, I couldn't come up with a better approach than the current one (I don't think we can move c/image over to c/skopeo). I also think that the proposed "vendor.conf injection" isn't much better either as it would only work in trivial cases when the injection of new dependencies or updating existing ones does not req

[2018-12-21 12:52] Silvanoc commented on #552
The only changes on c/image requiring changes on Skopeo source code should be those changing the interfaces, what hopefully doesn't happen that often. In those cases the dependency list is the smallest issue that you will face.

WRT dependencies: I'd expect most cases to not change the dependencies at all. A couple of cases just adding new dependencies or updating the dependencies versions. And ve

[2018-12-21 12:54] Silvanoc commented on #552
I've written a script to check if all dependencies reported by `c/image` are also specified in `skopeo`. The result is that the version differs in many libraries (what shouldn't be a big deal) and following two are missing:
*

#!/bin/bash

ci_deps="vendor.conf"
skopeo_deps="/home/silvano/repositories/github/containers/skopeo/vendor.conf"

[code]

[2018-12-21 13:40] rhatdan commented on #548
Ok lets go with the example of university wants to block access to
porn.com

What does the admin do?
With policy.json he just executes

podman image trust -t reject porn.com

Now users can not pull from porn.com ( I guess this is a black list)

What do you see an admin doing with this new proposed "whitelist" where the admin wants to allow everything except porn.com?

[2018-12-21 17:31] runcom commented on #548
I'm sure it would, I'm not against something easy, UI wise, like that. I'm just worried about using trust to block registries. The command above means "don't trust images from that registry, hence, avoid pulling them" whether we need something like "avoid pulling from that registry because I say so" even if the commands may overlap in practice

[2018-12-21 17:54] rhatdan commented on #548
I don't care about the word trust.  If the use case is I only want my users to pull from
openshift.registry.company.com and if they pull from Docker.io, I want it blocked then the policy.json file satisfies this need.

I don't see how adding something like whitelist/blacklist to registies.conf changes this?

If the goal is to allow user dwlash pull from anywhere while runcom can only pull from ope

[2018-12-21 22:03] Silvanoc commented on #552
@vrothberg let me try to use my real use-case to better understand the common approach.

My PR #546 adds the dependency `github.com/coreos/pkg` to `containers/image`. The tests fail because `skopeo` doesn't have that dependency.

How should I address this issue? Should I create a PR on `containers/skopeo` from the branch `master` of my repository (`silvanoc/skopeo`) and then add a last commit to m

[2018-12-22 11:18] vrothberg commented on #552
I explained the workflow above (see https://github.com/containers/image/issues/552#issuecomment-449057808). What you need to do in order to test #546 is to open a PR over at Skopeo that vendors the branch of containers/image that you used to open #546 (plus updating the dependencies), which in this specific case means to change Skopeo's `vendor.conf` to include:
[code]

Once #546 is merged into co

[2018-12-25 22:35] Silvanoc commented on #552
Sure! Enjoy these days! I'm not in a hurry.

[2018-12-25 22:59] Silvanoc commented on #552
@vrothberg I'm not 100% that I understood your explanation, but I hope so.

I've created PR #554 to fix my issue. It apparently also [doesn't create any regressions](https://travis-ci.org/containers/image/builds/472193226?utm_source=github_status&utm_medium=notification).

[2019-01-02 17:13] mtrmac commented on #552
It’s not even just that — the published API of a library can’t use types from package vendored inside the library, because the outside users are completely prohibited from naming those types (in particular, consider `github.com/opencontainers/go-digest.Digest`: if it were vendored in c/image, all references to it would be mapped to `github.com/containers/image/vendor/github.com/opencontainers/go-d

[2019-01-02 17:27] mtrmac commented on #552
Right, this is a _perfectly reasonable_ expectation. Unfortunately, though, given how the projects have developed, the tests were written using `skopeo`, and they are the only integration / against-real-registry tests that we have, so we can’t just _drop_ them.

The Right Thing to do would be to convert almost all of the `skopeo` tests into integration tests of c/image, and then have `skopeo` perh

[2019-01-02 17:38] mtrmac commented on #552
I don’t quite think that this is the hard part, seeing the `test-skopeo` target failure in the build log quickly points at the right problem; I guess that would be the manual work for filing the “do not merge” skopeo PR, and updating it after the c/image PR is merged, and waiting for the CI in both cases, and finding the process documentation for how to do all of this.

Maybe the `test-skopeo` tar

[2019-01-03 00:36] Silvanoc commented on #552
One of the issues that seem to bother you is the lack of "dependency propagation", right? I mean, a new dependency in c/image not getting propagated to Skopeo and thus breaking the later integration. But what about other projects integrating c/image? For example, CRI-O. Wouldn't CRI-O be facing exactly that issue on time?

I understand that in the past being Skopeo the only tool integrating c/imag

[2019-01-03 00:36] Silvanoc commented on #552
Although I find the current approach confusing and cumbersome, I think I got it right this time and will be able to also give it a try.

[2019-01-04 08:40] Silvanoc commented on #552
Waiting for company approval for contributing to Skopeo before I can go this way :unamused:

[2019-01-08 10:00] vrothberg commented on #548
Thanks, @bparees, for adding those use cases! Scenario 2 is already working today by adding `bad.registry.com` to the list of *blocked* registries in the `registries.conf`.

In my opinion, those things should be configured in the `registries.conf` as I find it more user-friendly to have one config file for all/most things related to registries. Such behaviour could be achieved by adding a new conf

[2019-01-08 15:16] bparees commented on #548
I agree.

how do i implement scenario (1) in registries.conf?  where do i list the "allowed" registries in registries.conf?

[2019-01-08 15:17] vrothberg commented on #548
That doesn't work with registries.conf at the moment. If we want to support that we need an additional mechanism to configure the default_policy.

[2019-01-08 15:24] bparees commented on #548
even assuming we could configure the default_policy, what does the rest of the configuration look like?

[2019-01-08 16:02] rhatdan commented on #548
I think we need to look at long term and short term.  In the short term we can handle use case 1 and 2 in policy.conf

Reject everything except registries.access.redhat.com
[code]

[2019-01-08 16:05] rhatdan commented on #548
reject: bad.registry.com, allow: all # disallow pulling/pushing for some specific registries, allow others
[code]

[2019-01-08 16:06] bparees commented on #548
thanks @rhatdan.  So that syntax is supported today?

[2019-01-08 16:07] rhatdan commented on #548
Yes

[2019-01-08 16:07] rhatdan commented on #548
podman image trust
makes it easy to play with.

[2019-01-08 16:08] rhatdan commented on #548
The third test is just depends on what you set for default.

[2019-01-08 18:12] bparees commented on #548
[code]

Doesn't this also mean we'd treat all registries as insecure (ie allow invalid TLS certs + non-TLS transport?)

[2019-01-08 18:45] rhatdan commented on #548
I think that it is handled in registries.conf.

[2019-01-08 18:48] bparees commented on #548
I guess i am confused by `"type": "insecureAcceptAnything"`, that implies to me that it's going to accept insecure registries.

[2019-01-08 18:50] rhatdan commented on #548
Basically it means, it does not require signatures.  We have a third option which would require signed images.

[2019-01-08 18:56] bparees commented on #548
ok, so not related to TLS/transport.

[2019-01-08 18:57] bparees commented on #548
@adambkaplan so it sounds like we should proceed in the following manner:

1) wire search registries -> registries.conf
2) wire insecure registries -> registries.conf
3) wire allowed/blocked registries -> policy.json in the way that @rhatdan outlined above.

sound good?

[2019-01-08 19:08] adambkaplan commented on #548
@bparees sounds good to me.

@rhatdan can `policy.json` be encoded via a go type? I assume yes.

[2019-01-08 19:13] rhatdan commented on #548
It is just simple json, so I see not reason why not.  Containers/image might do something with that now.  @vrothberg Do you know?

[2019-01-08 19:59] nalind commented on #548
@adambkaplan it should be a `github.com/containers/image/signature.Policy`.  The package's tests include [an example](https://github.com/containers/image/blob/master/signature/policy_config_test.go#L232).

[2019-01-08 20:11] adambkaplan commented on #548
Closing this issue, as `policy.json` is the better path forward for this capability.

[2019-01-08 20:11] #548 closed

[2019-01-08 23:22] mtrmac commented on #548
What happens when `policy.json` contains a different default? It’s much simpler when such an ambiguity can’t happen and we don’t have to answer that question.

[2019-01-08 23:34] mtrmac commented on #548
If you want to do it this way, be _very_ careful about pre-existing data. `policy.json` is an OS-wide config file, not _in general_ something that is free for OpenShift to just overwrite (unless OpenShift “owns” the whole OS, of course).

It would be extremely bad to replace a `type: signedBy` policy entry (or, really, _any_ pre-existing entry) with a `type: insecureAcceptAnything` one. And make s

[2019-01-11 13:35] vrothberg commented on #476
Can we close this issue? I concur with @mtrmac. Unless we maintain copies of moby/moby, there is no other way around this dependencies. Even https://github.com/fsouza/go-dockerclient is depending on it, although I find it's API a bit nicer.

[2019-01-11 16:20] #476 closed

[2019-01-15 15:42] saschagrunert opened #559 "Implement mirror support for docker-client"
Hey, I would like to work on the topic of implementing the full mirror support for the internal docker client (`docker/docker_client.go`). My main approach would be to hook into the client and try the parsed mirrors directly there. Beside that #529 mentioned missing documentation, which could be added as well if the main design should not change.

@vrothberg what do you think about this? Are there

[2019-01-15 16:12] vrothberg commented on #559
Hi @saschagrunert, thanks for the request and offering help!

Before implementing the mirror support, we need to decide if we want to keep the current design of `sysregistriesv2` or if we switch to the push/pull endpoints semantics as the elephant-baby-PR over at Moby does.

As none of the main tools (Podman, CRI-O etc.) are using the new `registries.conf` format, we still have the chance to chang

[2019-01-15 18:57] mtrmac commented on #559
(re: the above; note that the discussion about the `sysregistriesv2` data structures and syntax is fairly orthogonal to the c/image/docker implementation; whatever the data structures end up being, adapting the c/image/docker client should be ~trivial.)

I think the earlier discussion is around
https://github.com/containers/image/pull/468#issuecomment-440254302 and following.

A quick summary of m

[2019-01-16 11:10] saschagrunert commented on #559
Thanks for the comprehensive information! It would be really cool if we can keep track of the final design somewhere. My idea would be to start with the documentation part in [docs/containers-registries.conf.5.md](https://github.com/containers/image/blob/b16716c/docs/containers-registries.conf.5.md) and implement it afterwards in a follow up PR. WDYT?

I have multiple thoughts related to the curre

[2019-01-16 11:54] mtrmac commented on #559
Thanks for all the ideas.

Just a few quick thoughts for now — initial personal impressions, _not_ authoritative; others may well have different opinions.

This already mostly exists, doesn’t it?

The “is non-TLS connection allowed” decision can _not_ be autodetected; an attacker could just prevent TLS connections to force downgrade to non-TLS which can then be attacked. (c/image/docker already au

[2019-01-16 14:51] saschagrunert commented on #559
Thank you very much for the fast response!

I know that cri-o has some configuration validation but I am not sure how much this topic belongs into c/images. What I wanted to say is if we go in some direction of having more flexibility in the registries configuration, it would be good to have an configuration validation for `sysregistriesv2` (during startup or change of the file) to avoid logical i

[2019-01-16 15:02] vrothberg commented on #559
Some validation happens in `sysregistriesv2` already see `postProcessRegistries()`. There is no duplicate check yet, though :)

[2019-01-16 16:27] vrothberg commented on #559
Actually, it does duplicate checks.

[2019-01-16 20:22] mrunalp opened #560 "Switch to https://github.com/etcd-io/bbolt"
https://github.com/boltdb/bolt is no longer maintained.

[2019-01-17 08:21] saschagrunert commented on #559
@vrothberg @mtrmac Thanks for making the picture clearer to me. :+1: What I discerned so far is that an implementation close to https://github.com/moby/moby/pull/34319 is suggestive. Since I am not aware of how your decision process works, I would like to ask you what the next steps are?

[2019-01-17 09:45] vrothberg commented on #559
Quoting @mtrmac:

This sounds fair. In case the data structures will change in the future, adapting to it should be straight forward once mirror-support is implemented in the `dockerClient`, which has very similar requirements as the Moby PR:

- **Select a matching registry** via `sysregistryv2.FindRegistry(...)`. If none is found, follow the common code path.
- Independent if we use a mirror or n

[2019-01-17 19:09] mtrmac commented on #559
Note that the “orthogonal” comment is mostly about the _relative_ timing of the mirroring implementation and configuration design; ideally, we should _release_ both of these at about the same time, so that there is never an user-breaking configuration format change.

(Or, well, we could continue to support the older format indefinitely in the code. Maybe that’s the easiest way to move forward? Kee

[2019-01-17 19:09] mtrmac commented on #559
This is an important point, I didn’t realize that this needs special-casing. (I assume authenticated mirrors would need some other mechanism. Shall we defer that?)

[2019-01-17 19:11] mtrmac commented on #559
That’s not quite trivial because the concept of a mirror — or really the concept of a _remote server_ — is transport-specific; all of `sysregistriesv2` is specific to the `c/image/docker` transport, and has absolutely no connection to e.g. `dir:`.

It would be _possible_ but it looks kind of pointless for `copy.Image` to call something like `Transport.Get{Source,Destination}Mirrors`+`ImageReferenc

[2019-01-18 11:49] vrothberg commented on #559
Absolutely! I am happy we added the backwards compatibility.

Just to the first endpoint. Broadcasting might be considered in the future.

All parts must be pushed to the first endpoint.

No, everything must be pushed to the first endpoint. It's really just some redirecting of the push.

But note that the elephant-baby-PR is not yet merged and the latest response from the maintainers made me wonde

[2019-01-18 12:00] vrothberg commented on #559
Perfect. I looked at the code yesterday and wasn't sure if retries work *within* dockerClient which drove me to the idea of moving the logic into `copy.Image ff`.

That sounds nicer *and* faster. Your mentions about progress bars made it also pretty clear to me that it's way easier to integrate the retries into dockerClient. I wouldn't want to see N times the same progress bar just because we're i

[2019-01-18 12:04] vrothberg commented on #559
Yes, deferring sounds good to me but it definitely needs documentation. On a more positive note: we are in a less complicated situation than Moby where all credentials are stored on the *client side*. We could just look into the stored credentials - if we wish to.

[2019-01-18 12:58] saschagrunert commented on #559
No, lets stick to the current `Prefix` notation.

My main starting point was the current structure and I experimented around with it to make it clearer to the end-user how it should be configured.

@vrothberg @mtrmac What do you think about the named endpoints and then referencing them? So for example this:

[code]

It would reduce the noise within the configuration.

I agree to that, sounds good.

[2019-01-18 18:04] mtrmac commented on #559
Then any of the endpoints but the first are _never_ used, are they? And having an array of push endpoints is not useful.

(Basically it seems to me that _none_ of the three semantics I suggested are useful — that mirror support in simple CLI clients can only only be useful on the read side.

When uploads can be aborted (in the worst case, by a machine losing power) at any time, coordinating upload

[2019-01-18 18:06] mtrmac commented on #559
To be clear, the current implementation of c/image/docker, and `copy.Image`, _never_ retries anything in c/image/docker at all.

[2019-01-18 18:20] mtrmac commented on #559
How would that actually work with mirrors?

Non-mirrored servers that are used directly can simply not configure any push/pull locations, and let the code default to the `Prefix` value.

If mirrors _are_ involved, it’s fairly likely that that would involve some kind of namespace mapping (e.g. mirroring `registry.access.redhat.com/rhel` to `mirror.example.com/redhat/rhel`). _Especially_ if a single

[2019-01-20 12:39] vrothberg commented on #559
Right. I actually meant if retries "could" work and how it could be done.

[2019-01-20 12:54] vrothberg commented on #559
This may entirely be a matter of taste but I don't find it easier to comprehend nor less noisy. For now, I would only support pulling. If desired, we can add push semantics in the future (maybe with a `push=true` option or something while mirrors are ignored for pushs).

I suggest to move on and get the mirror semantics implemented in the docker client (see discussion above for details). @saschagr

[2019-01-26 14:43] vrothberg opened #566 "error pushing image to authenticated repository"
Pushing to `docker.io/valentinrothberg/alpine:latest` works fine the first time, but will break reproducibly for following attempts when the image already exists and fail with the following error:

[code]

Cc @mtrmac @runcom

[2019-01-28 12:55] teozkr opened #567 "Allow parallel copying from docker-archives"
Is there any reason that `HasThreadSafeGetBlob` for `docker/tarball` is marked `false`?

From what I can tell, all IO in `GetBlob` seems to go through `openTarComponent` which opens a new file descriptor for each call, which should be thread-safe. `ensureCachedDataIsPresent` mutates state, but should be idempotent from what I can tell.

/cc @vrothberg

[2019-01-28 15:22] mtrmac commented on #567
(For other readers,) see
https://github.com/containers/image/pull/568#issuecomment-458173387 .

[2019-01-28 17:21] mtrmac commented on #566
Can you capture at least the `--debug` output, or perhaps full HTTP requests using https://github.com/mtrmac/image/tree/http-dump (make sure to remove your credentials)?

[2019-01-29 11:27] vrothberg commented on #566
Debug output from `skopeo copy`:
[code]

[2019-01-29 20:41] mtrmac commented on #566
I can’t see anything obviously wrong with this; hopefully examining the raw HTTP traffic can help.

[2019-01-30 20:49] adambkaplan opened #572 "docker transport always uses docker.io as the default registry"
Image pulls which use the `docker` transport will default to using docker.io as the default registry, even if docker.io is not present in the `registries.search` config. This impacts buildah (and potentially podman).

**Steps to reproduce:**

1. Create a `registries.conf` file which does not include docker.io in the search path:
[code]
2. Use buildah to pull an image without referencing a reposito

[2019-01-30 22:55] mtrmac commented on #572
Thanks for your report.

The c/image/docker transport (which backs the `docker://` syntax) uses the traditional `docker.io/library` normalization, that is expected behavior.

The transport does not _at all_ support `registries.search`; c/image does provide `c/image/pkg/sysregistries*` subpackages that allow parsing that configuration, but it is _never_ interpreted in this library, notably because

[2019-01-30 22:55] #572 closed

[2019-01-30 23:07] mtrmac commented on #572
Also, looking at https://github.com/openshift/builder/pull/40, note that `docker.AuthConfiguration` only contains an username+password, so it fundamentally can’t correctly support the search semantics, in which case multiple different authenticated registries may be present, and the code must not send credentials intended for one registry to other registries.

Just like the kubelet’s processing of

[2019-02-04 20:44] #567 closed

[2019-02-22 15:23] wking commented on #111
There have been some `pkg/docker/config` unit tests hiding over in `docker/docker_client_test.go` since #96.  I'm moving them into `pkg/docker/config` in #588 and restructuring a bit to decouple the auth-getting implementation from `SystemContext` (although of course it won't actually be decoupled until we can drop the properties I'm deprecating in #588 ;).

[2019-03-08 19:46] mtrmac opened #596 "Incorrect/inconsistent docker/config.json path lookup"
- If the user specifies `SystemContext.AuthFilePath`, we should not be checking the home directory
- <s>It’s surprising that `GetAuthentication` and `GetUserLoggedIn` use different sets of paths.</s>

[2019-03-20 17:12] cevich opened #606 "Expired integration test certificate"
This is causing all ``/var/tmp/go/src/github.com/containers/libpod/test/e2e/push_test.go`` to fail.

[2019-03-20 17:13] cevich commented on #606
@cevich working on new testing cert.

[2019-03-20 17:31] cevich commented on #606
oops, intended to open this in different repo.

[2019-03-20 17:31] #606 closed

[2019-04-01 14:39] haircommander opened #610 "RFE: Save multiple manifests to a single file"
There have been some requests for podman to match docker functionality in a podman save:
https://github.com/containers/libpod/issues/2822
https://github.com/containers/libpod/issues/2669

A blocker on this is the fact we can't save multiple images to the same file with containers/image. There could be a hacky work around saving them to a temp file, then appending all the files at the end, but I'd

[2019-04-01 14:39] haircommander commented on #610
@mtrmac PTAL

[2019-04-01 14:49] mtrmac commented on #610
Yeah, as mentioned before, c/image does not have a concept of “a pending set of images”.

I’m not convinced it’s reasonable to make this a generic c/image concept, notably because the way how to designate images in that set, and the semantics of naming within the set, would be pretty tricky.

But specifically for `docker-archive:` (or, for any other _single_ transport), it should be reasonably pos

[2019-04-01 15:37] haircommander commented on #610
@mtrmac Without even doing that, we could also have a Archive writer append to a file, no? That way, podman can just make consecutive image.Save() on the same destination and they will all end up in the same file.

[2019-04-01 15:38] haircommander commented on #610
(note: this is me speaking with near zero understanding of how c/image works, so please excuse my inexperience :) )

[2019-04-01 15:46] mtrmac commented on #610
Not really, the archive must contain a _single_ `manifest.json` file that describes all images.

Sure, each update could also append an updated version of that `manifest.json` — but I don’t know whether it is formally specified anywhere what a `tar` file with duplicates means, but it’s certainly unwise to rely these corner cases — and anyway, c/image _itself_, when reading from `docker-archive:` f

[2019-04-01 17:50] haircommander commented on #610
@mtrmac ah yeah okay. Are you able to implement the above solution on c/image side?  I can handle adding it to podman, if so. We had another user ask on IRC today, which sets the request count to three. We can start with just the ```docker-archive:``` case right now, I think.

[2019-04-05 22:14] jkryl commented on #566
I had the same problem. I was using buildah in gitlab CI/CD docker runner. In my case the buildah was not picking the auth file from /run/containers/0/auth.json where podman saved it. After I added explicit --authfile option to all podman and buildah push commands, it works.

I'm not using the latest versions of podman and buildah so that could be the problem too:
podman version   1.1.2
buildah ve

[2019-04-11 08:22] saschagrunert opened #614 "Follow up on registry mirror implementation"
This issue collects all follow-ups of #564. Dear maintainers, feel free to edit this list as well.

---

- [ ] Improve registry mirror documentation regarding:
https://github.com/containers/image/pull/564#discussion_r272715032 https://github.com/containers/image/pull/564#discussion_r272721534 https://github.com/containers/image/pull/564#discussion_r272721831 https://github.com/containers/image/pul

[2019-04-11 08:37] vrothberg commented on #614
Thanks a lot for condensing the issues :pray:

order dependent registries.conf entries: #564 (review)

I don't (yet) see why this should be needed as I fear this will add more complexity instead of reducing it. We still had to lookup the config of each registry and I think it's valid to assume that users want search registries to be mirrored as well, which is now happening transparently. Adding sp

[2019-04-12 12:17] vrothberg commented on #566
I made the following observations:
- `podman login` works
- Pushing fails now first try to `docker.io` (even when specifying the credentials on the CLI)
- It does not fail with `quay.io`

First conclusion: we need to test `docker.io` in our tests as well (Cc: @rhatdan @edsantiago @TomSweeneyRedHat @mheon)

[2019-04-12 12:27] vrothberg commented on #566
Update to the update:

It seems that I've reached the limit of private repositories and had to delete some. Now, I am back to the initial failure.

[2019-04-12 13:01] vrothberg commented on #566
@mtrmac, here with http dump:
[code]

[2019-04-12 13:01] vrothberg commented on #566
Note, I specified my credentials on the CLI.

[2019-04-12 13:21] rhatdan commented on #596
Since the PR Is merged, I am closing this issue.

[2019-04-12 13:21] vrothberg commented on #560
Opened https://github.com/containers/skopeo/pull/628 to test for regressions. Once that's green, I'll open the PR for c/image.

[2019-04-12 15:22] #560 closed

[2019-04-12 21:36] mtrmac commented on #566
I don’t know, this looks just like an incorrect user name / password.

(Also there is no longer a `error parsing HTTP 401 response body: unexpected end of JSON input: ""`.  Is that because the  actual behavior has changed, or because the HTTP dump patch has changed behavior?)

FWIW pushing to a private `docker.io` repository works for me.

[2019-04-12 22:33] mtrmac commented on #596
The home directory aspect is still outstanding.

[2019-04-13 10:09] rhatdan commented on #610
@haircommander @mtrmac What is the latest on this?

[2019-04-17 01:05] cboylan opened #1004 "Cannot pull from/push to docker registry using an escaped ipv6 address literal"
Running a command like:

[code]

We get:

[code]

Ideally we would be able to use properly escaped ipv6 address literals with a port specified and still have skopeo function.

Chances are this is related to https://github.com/docker/distribution/pull/2899 and its related bug as I'm guessing skopeo pulls in that set of regexes to validate the url. Unfortunately that means that while docker is broke

[2019-04-24 07:48] mtrmac commented on #614
WRT `searchRegistries`, copying from #564.

1. You can say (`prefix`: `docker.io/foo/bar`, `location`: `mirror.example.com/notfoo/notbar`, `unqualified-search`: `true`). What does that mean?
    - Existing code is not really ready for “search” entires that are not domains. Sure, we can add an extra validation rule, but that’s extra complexity and extra rule for users to understand.
    - (buildah

[2019-04-24 08:03] mtrmac commented on #614
Two more RFCs:

---

Currently `location` is mandatory, and `prefix` is optional, defaults to `location`. This makes it very awkward to describe the matching semantics (it’s logical to start by describing which `[[registry]]` entry is used, i.e. with `prefix`, and introduce `location` only later; this requires an awkward forward reference to `location`, and it makes the description complex).  Also

[2019-04-24 08:03] mtrmac commented on #614
@saschagrunert @vrothberg RFC ^^^

[2019-04-24 08:58] vrothberg commented on #614
Sounds good to me :+1:

I think the arguments against the current state mostly relate to bloated `registries.conf` files with many entries, which I think are rare but I like the idea of making the unqualified search semantics an orthogonal extension to the registries rather than being an integral part.

From a user perspective, I find `location` (which I prefer to call endpoint :-) more intuitive

[2019-04-24 09:11] #540 closed

[2019-04-24 10:47] saschagrunert commented on #614
I personally understood the feature better when initially omitting the prefix semantics and introducing it later on. I think we could switch it around if we find a more descriptive name for "prefix".

Sure, but I would rename `registry` to `registries` too.

[2019-04-24 13:36] miabbott opened #618 "gracefully handle HTTP 429 return codes (Too Many Requests)"
Downstream BZ - https://bugzilla.redhat.com/show_bug.cgi?id=1702519

In the above BZ, the RHCOS nodes are attempting to pull a container from quay.io via `skopeo` and the registry is returning HTTP 429 (Too Many Requests).  `skopeo` reacts with:

`msg="Error determining repository tags: Invalid status code returned when fetching tags list 429 (Too Many Requests)"`

I think the error message is mis

[2019-04-24 13:41] vrothberg commented on #618
Hi @miabbott, thanks for opening the issue.

How about "Error determining repository tags: too many requests"? Alternatively, we can do a simple "stop DOSing the registry" ;-)

[2019-04-24 13:46] miabbott commented on #618
@vrothberg I think that message is a good start; I think it might be useful to include the HTTP code, too.

Do you think there is anything else that can be done in this scenario besides just error more cleanly?

[2019-04-24 13:53] vrothberg commented on #618
I don't know the penalty (i.e., how long the client is rejected) but if that's ~predictable we could try to play smart and retry after a certain amount of time. @mtrmac do you know the (default) penalty?

[2019-04-24 13:56] miabbott commented on #618
The spec says:

`...MAY include a Retry-After header indicating how long to wait before making a new request.`

So it is unfortunately up to the registry/server if they decide to tell the client how long to back-off.  Maybe try to retry according to `Retry-After` if it is present in the response?

[2019-04-24 14:36] wking commented on #618
And probably do sime sort of exponential backoff (60s, doubling the wait between attempts, give up after... 3? attempts) if there is no `Retry-After`.

[2019-04-24 14:55] josephschorr commented on #618
We can add a `Retry-After` header too, if that helps

[2019-04-24 15:13] vrothberg commented on #614
One thing that does not yet work is pull-through caches (see https://docs.docker.com/registry/recipes/mirror/#run-a-registry-as-a-pull-through-cache). The problem here is that we're rewriting the reference but shouldn't.

Given we're already talking about renaming the fields, I am tempted by renaming `mirror[s]` to `endpoint[s]`:
* an additional `pull-through` attribute will avoid rewriting the re

[2019-04-24 15:39] vrothberg commented on #614
Consider the following suggestion:

[code]

The prefix stays as is and is *mandatory*. The top-level registry can also be blocked, nothing more. Unqualified registries are specified as suggested above.

The `endpoints` table contains *all* possible registry and does not distinguish between the "main" one or a "mirror". If not endpoint is specified we could add the `prefix` as a default one for laz